@use '../util' as *;
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

.marketing__header {
    color: var(--white);

    &_bg {
        background-image: url(https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/marketing/bg.png);
        height: rem(649);
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        padding-top: 10rem;
        @include breakpoint-down(xmedium) {
            height: auto;
            padding-top: 5rem;
            padding-bottom: 5rem;
            background-position: center;
        }
    }
    &_backcolor {
        background: var(--darkbackground);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
    }
    &_body {
        position: relative;
        gap: rem(217);
        @include breakpoint-down(medium) {
            gap: 5rem;
        }
        @include breakpoint-down(small) {
            grid-template-columns: 1fr;
        }
        &_1 {
            h1 {
                margin-bottom: rem(-20);
                font-weight: 800;
                font-size: rem(40);
                text-transform: uppercase;
                @include breakpoint-down(mobile) {
                    font-size: rem(26);
                    word-spacing: 0.4rem;
                }
            }
            p {
                font-weight: 300;
                font-size: rem(20);
                line-height: rem(24);
                padding: 0;
            }
        }
        &_2 {
            display: none;
            margin-top: -4rem;
            @include breakpoint-down(tablet) {
                margin-top: rem(-16);
            }
            @include breakpoint-down(medium) {
                margin-top: rem(-32);
            }
            .marketing_ligne {
                display: flex;
                justify-content: space-between;
                border-top: rem(2) solid var(--white);
                p {
                    font-weight: 800;
                    font-size: rem(20);
                    @include breakpoint-down(medium) {
                        font-size: rem(16);
                    }
                }
                img {
                    width: 5%;
                    align-self: center;
                    height: 3vh;
                }
            }
        }
    }
    &_desc {
        margin-bottom: 1rem;
        font-weight: 300;
        font-size: rem(20);
        @include breakpoint-down(medium) {
            font-size: rem(16);
        }
        p {
            @include breakpoint-down(tablet) {
                font-size: 0.75rem;
            }
        }
    }
    &_contact {
        a {
            align-self: center;
        }
        img {
            display: inline-block;
            width: 100%;
        }
    }
}

.marketing__bloc-1 {
    flex-wrap: nowrap;
    flex-direction: row;
    gap: rem(128);
    @include breakpoint-down(large) {
        gap: rem(100);
    }
    @include breakpoint-down(medium) {
        gap: rem(20);
    }
    @include breakpoint-down(small) {
        flex-direction: column;
        gap: 0;
    }
    .bloc-1 {
        display: flex;
        flex-direction: column;
        padding: rem(52) 0;
        @include breakpoint-down(small) {
            padding: rem(16) 0;
        }
        &_img {
            align-self: center;
        }
        &_title {
            p {
                text-align: center;
                font-size: rem(16);
                line-height: rem(19);
                margin-bottom: 0;
                font-weight: 800;
            }
        }
        &_desc {
            text-align: center;
            span {
                font-weight: 300;
                font-size: rem(14);
                line-height: rem(17);
            }
        }
    }
}

.marketing__bloc-2 {
    background: var(--darkbackground);
    width: 100%;
    &_bg {
        display: flex;
        flex-direction: column;
        padding-top: 8rem;
        padding-bottom: 10rem;
        @include breakpoint-down(large) {
            padding-bottom: rem(50);
            padding-top: rem(45);
        }
        h2 {
            text-align: center;
            font-weight: 800;
            font-size: rem(32);

            @include breakpoint-down(mobile) {
                font-size: rem(26);
                word-spacing: 0.4rem;
            }
        }
        p {
            font-weight: 400;
            font-size: rem(16);
            line-height: 181%;
            text-align: justify;
        }
        .center {
            align-self: center;
            padding-top: rem(41);
        }
    }
}

.marketing__bloc-3 {
    @include breakpoint-down(small) {
        display: none;
    }
    &_bg {
        padding-top: rem(77);
        padding-bottom: rem(82);
        gap: 3rem;
        @include breakpoint-down(large) {
            padding-bottom: rem(50);
            padding-top: rem(45);
        }
        @include breakpoint-down(small) {
            grid-template-columns: 1fr;
            gap: 1rem;
            padding-top: rem(29);
            padding-bottom: rem(34);
        }
        &_text {
            align-self: center;
            @include breakpoint-down(small) {
                display: flex;
                flex-direction: column;
            }
            h2 {
                font-weight: 800;
                font-size: rem(32);
                @include breakpoint-down(medium) {
                    font-size: 1.5rem;
                }
                @include breakpoint-down(small) {
                    align-self: center;
                }
            }
            p {
                font-weight: 400;
                padding-bottom: rem(29);
                @include breakpoint-down(tablet) {
                    font-size: 0.75rem;
                }
            }
            .center {
                @include breakpoint-down(small) {
                    align-self: center;
                }
            }
        }
        &_img {
            align-self: center;
            img {
                width: 100%;

                //height: -webkit-fill-available;
            }
        }
    }
}

.marketing__bloc-4 {
    background-color: var(--white);
}
.marketing__bloc-5 {
    display: none;
    @include breakpoint-down(small) {
        display: flex;
    }
    &_bg {
        padding-top: rem(29);
        padding-bottom: rem(34);
        grid-template-columns: 1fr;
        gap: 1rem;
        &_elt {
            align-self: center;
            display: flex;
            flex-direction: column;
            h2 {
                font-weight: 800;
                align-self: center;
                font-size: rem(27.2);
            }
        }
        &_img {
            img {
                width: 100%;
                height: -webkit-fill-available;
            }
        }
        &_text {
            display: flex;
            flex-direction: column;
            p {
                font-weight: 400;
                padding-bottom: rem(29);
                text-align: center;
            }
            .center {
                align-self: center;
            }
        }
    }
}
.bg--1 {
    background: linear-gradient(
            rgba(29, 28, 28, 0.604),
            rgba(26, 24, 24, 0.604)
        ),
        url(https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/marketing/contenu.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--white);
}
.bg--2 {
    background: linear-gradient(
            rgba(29, 28, 28, 0.604),
            rgba(26, 24, 24, 0.604)
        ),
        url(https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/marketing/email.png);
    background-repeat: no-repeat;
    color: var(--white);
    background-size: cover;
}
.bg--3 {
    background: linear-gradient(
            rgba(29, 28, 28, 0.604),
            rgba(26, 24, 24, 0.604)
        ),
        url(https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/marketing/sem.png);
    background-repeat: no-repeat;
    color: var(--white);
    background-size: cover;
    background-position: center;
}
