@use '../util' as *;

.header {
    width: 100%;
    background-color: var(--black);
    top: 0;
    z-index: 500;
    padding: 0 10rem;
    position: relative;

    @include breakpoint-down(medium) {
        padding: 0 4rem;
    }

    @include breakpoint-down(tablet) {
        padding: 0 0 0 4rem;
        background-color: #fdfdfd;
    }
    @include breakpoint-down(extrasmall) {
        padding: 0 0 0 2rem;
    }
    &__container {
        display: -webkit-flex;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
    }
    &__linkimg {
        display: block;

        @include breakpoint-down(tablet) {
            align-self: flex-end;
        }
    }
    &__logo {
        width: 2.5rem;
        height: 3rem;
        align-self: center;
        padding: 0.3rem 0;
        z-index: 100;

        @include breakpoint-down(tablet) {
            align-self: flex-end;
        }
        @include breakpoint-down(extrasmall) {
            position: relative;
            z-index: 20;
            padding: 0 0 0.5rem 0;
            width: 3.5rem;
            height: 3.8rem;
        }
    }
    &__retourarriere {
        display: none;
        align-self: center;
        z-index: 20;
        padding-top: 0.9rem;
    }
    &__retourarriere.actived {
        @include breakpoint-down(extrasmall) {
            display: block;
        }
    }

    &__currentmenu {
        font-weight: 600;
        font-size: rem(24);
        line-height: rem(29);
        text-transform: uppercase;
        color: var(--black);
        padding-bottom: 3rem;
        display: none;
    }
    // &__currentmenu::after {
    //     position: relative;
    //     top: 0.5rem;
    //     content: '';
    //     display: block;
    //     width: 100%;
    //     height: 0.132rem;
    //     background: #565656;
    // }
    &__currentmenu.actived {
        @include breakpoint-down(extrasmall) {
            display: block;
        }
    }

    &__nav {
        // display: flex;
        gap: 4rem;
        display: grid;
        grid-template-columns: 1fr 0.5fr;

        @include breakpoint-down(tablet) {
            gap: 0;
            //flex-direction: column-reverse;
            grid-template-columns: 1fr;
        }

        @include breakpoint-down(extrasmall) {
            gap: 2.5rem;
            flex-direction: column;
        }
    }
    .menu__head {
        display: none;
        position: absolute;
        top: 4rem;
        left: 6rem;

        @include breakpoint-down(extrasmall) {
            display: block;
        }
    }
    &__list {
        list-style: none;
        display: flex;
        gap: 2.5rem;
        align-self: center;

        @include breakpoint-down(extrasmall) {
            position: absolute;
            top: 7rem;
            left: 0;
            width: 100%;
            height: 100vh;
            background-color: rgba(241, 241, 241, 0.98);
            transform: translateX(-100%);
            transition: transform 0.3s;
            flex-direction: column;
            gap: 2.5rem;
            padding: 3rem 2rem 2rem 3rem;
            z-index: 50;
            overflow-y: auto;
        }
    }
    &__item {
        //cursor: pointer;
        @include breakpoint-down(extrasmall) {
            border-bottom: rem(1) solid #565656;
        }
    }
    &__link {
        font-weight: 400;
        font-size: rem(14);
        line-height: rem(17);
        color: var(--white);
        display: inline-block;
        position: relative;
        cursor: pointer;
        word-spacing: 0.4rem;

        @include breakpoint-down(tablet) {
            color: var(--black);
            padding-right: 1rem;
        }

        @include breakpoint-down(extrasmall) {
            font-weight: 400;
            font-size: rem(20);
            line-height: rem(24);
            padding-bottom: 1.1rem;
            padding-right: 0;
            color: var(--black);
        }
    }
    &__link:hover {
        color: var(--colorBlue);
    }
    &__itemportfolio,
    &__carriere {
        display: none;
    }
    &__contact {
        color: var(--white);
        align-self: center;
        margin: 0;
        font-weight: 600;
        font-size: rem(14);
        line-height: rem(17);

        &_whatsapp:link,
        &_whatsapp:visited {
            color: var(--white);
        }

        @include breakpoint-down(tablet) {
            background-color: var(--black);
            padding: 1rem 1rem;
            align-self: end;
            font-weight: 700;
            grid-row: 1;
        }
        @include breakpoint-down(xxsmall) {
            padding: 0.9rem;
        }
    }

    &__megamenu {
        position: absolute;
        top: 2.7rem;
        left: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.822);
        opacity: 0;
        visibility: hidden;
        z-index: 50;
        height: 100vh;
        transition: all 0.5s ease;
        @include breakpoint-down(tablet) {
            top: 6.4rem;
        }

        @include breakpoint-down(extrasmall) {
            overflow-y: auto;
            width: 100%;
            height: 100vh;
            padding-top: 1rem;
            padding-bottom: 5rem;
            top: 0;
            opacity: 0;
            visibility: hidden;
            pointer-events: none;
            transform: translateX(-100%);
            transition: all 0.3s;
            background-color: rgba(241, 241, 241, 0.98);
            color: var(--black);
        }
    }
    &__megamenu.submenu.actived {
        opacity: 1;
        visibility: visible;
        pointer-events: initial;
        transform: translateX(0);
        transition: all 0.3s ease-out;
    }
    &__design {
        display: none;
    }

    &__megamenucontainer {
        padding: 6rem 9rem 5rem 9rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;

        @include breakpoint-down(medium) {
            padding: 6rem 6.5rem 5rem 6.5rem;
        }

        @include breakpoint-down(tablet) {
            padding: 3rem 2rem;
        }

        @include breakpoint-down(extrasmall) {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    &__megamenutitle {
        font-weight: 700;
        font-size: rem(20);
        line-height: rem(24);
        color: var(--white);

        @include breakpoint-down(extrasmall) {
            color: var(--black);
        }
    }

    &__megamenutitle::after {
        position: relative;
        top: 1.5rem;
        content: '';
        display: block;
        width: 5rem;
        height: 0.132rem;
        background: #cbcbcb;

        @include breakpoint-down(extrasmall) {
            background: #565656;
            width: 100%;
        }
    }

    &__megamenulist {
        padding: 4rem 0 0 0;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        // @include breakpoint-down(extrasmall) {
        //     display: none;
        // }
    }
    &__megamenulink {
        display: inline-block;
        font-weight: 500;
        font-size: rem(16);
        line-height: rem(19);
        color: var(--white);

        @include breakpoint-down(extrasmall) {
            color: var(--blue);
        }
    }

    &__megamenulink:hover {
        color: var(--colorBlue);
        transform: scale(1.04);
        font-weight: 700;

        @include breakpoint-down(extrasmall) {
            color: var(--blueDark);
        }
    }

    .link--service:hover {
        .header__megamenu {
            opacity: 1;
            visibility: visible;
            transition: all 0.3s;
        }
    }

    .toggle {
        display: none;

        @include breakpoint-down(extrasmall) {
            display: flex;
            align-self: end;
            justify-self: end;
            padding: 0 1rem 1rem 0;
            position: relative;
            z-index: 20;
        }
    }

    .ouvrir {
        @include breakpoint-down(extrasmall) {
            display: block;
        }
    }
    .fermer {
        @include breakpoint-down(extrasmall) {
            display: none;
        }
    }

    .open.header__list {
        @include breakpoint-down(extrasmall) {
            transform: translateX(0);
        }
    }

    .open.ouvrir {
        @include breakpoint-down(extrasmall) {
            display: none;
        }
    }
    .open.fermer {
        @include breakpoint-down(extrasmall) {
            display: block;
        }
    }
}
.sticky {
    position: fixed;
    box-shadow: 0 rem(-1) 4px rgba(0, 0, 0, 0.15);
}
.unscrollable {
    @include breakpoint-down(extrasmall) {
        overflow: hidden;
    }
}
