@use '../util' as *;

.section_equipe{
    padding-bottom: 3rem;
    text-align: center;
    @include breakpoint-down(small){
        display: none;
    }
    .content__img{
        text-align: center;
        padding-bottom: rem(50);
        .list{
            padding: 0;
            display: inline-flex;
            justify-content: space-between;
            &--text{
                h3{margin: 0;}
            }
            &--elts{
                .box{
                    position: relative;
                    display: inline-block;
                    overflow: hidden;
                    @include breakpoint-down(large){
                        width: rem(120);
                        height: rem(120);
                    }
                    @include breakpoint-down(xmedium){
                        width: rem(100);
                        height: rem(100);
                    }
                    @include breakpoint-down(xextra){
                        width: rem(80);
                        height: rem(80);
                    }
                    &:hover img{
                        opacity: 0;
                    }
                    &:hover .hover-img{
                        opacity: 1;
                        transform: scale(1.03);
                    }
                    img{
                        width: 100%;
                    }
                    .hover-img{
                        position: absolute;
                        top: 0;
                        left: 0;
                        opacity: 0;
                        height: -webkit-fill-available;
                        width: auto;
                    }
                }
            }
        }
    }
}