<!-- dev.html -->
{% set page_title = "Dévelopement" %} {% extends "layout.html" %} {% block
content %}

<main>
    <section class="bannerservice">
        <div class="bannerservice__backimg image__design">
            <div class="bannerservice__backcolor"></div>
            <div class="bannerservice__body containers">
                <div class="bannerservice__left">
                    <h1 class="bannerservice__title">VOTRE SOLUTION WEB</h1>
                    <p class="bannerservice__description">
                        Création et rénovation des sites web, des applications
                        mobiles IOS et Android, des logiciels ; protection et
                        sécurité optimale
                    </p>

                    <div class="btn_flex">
                        <a href="contact.html" class="btn btn--blue"
                            >Commencez</a
                        >
                        <a href="contact.html" class="btn_circle">
                            <img
                                src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/flech/arrow-blue-small.svg"
                                alt="fleche_bleu"
                            />
                        </a>
                    </div>
                </div>
                <div class="bannerservice__right">
                    <div class="bannerservice__element">
                        <div class="element__graphic">
                            <div class="element__bar">
                                <span
                                    class="element__pourcentage element__fill"
                                ></span>
                            </div>
                        </div>
                        <div class="element__title">
                            <p>Web Design</p>
                            <img
                                src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/development/Arrow%203.png"
                                alt="image flêche"
                                class="element__img"
                            />
                        </div>
                    </div>
                    <div class="bannerservice__element">
                        <div class="element__graphic">
                            <div class="element__bar">
                                <span
                                    class="element__pourcentage element__fill"
                                ></span>
                            </div>
                        </div>
                        <div class="element__title">
                            <p>Graphic Design</p>
                            <img
                                src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/development/Arrow%203.png"
                                alt="image flêche"
                                class="element__img"
                            />
                        </div>
                    </div>
                    <div class="bannerservice__element">
                        <div class="element__graphic">
                            <div class="element__bar">
                                <span
                                    class="element__pourcentage element__fill"
                                ></span>
                            </div>
                        </div>
                        <div class="element__title">
                            <p>Video Production</p>
                            <img
                                src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/development/Arrow%203.png"
                                alt="image flêche"
                                class="element__img"
                            />
                        </div>
                    </div>
                    <div class="bannerservice__element">
                        <div class="element__graphic">
                            <div class="element__bar">
                                <span
                                    class="element__pourcentage element__fill"
                                ></span>
                            </div>
                        </div>
                        <div class="element__title">
                            <p>UX Design</p>
                            <img
                                src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/development/Arrow%203.png"
                                alt="image flêche"
                                class="element__img"
                            />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- -------------------FEATURE-------------------------------- -->
    <section class="feature">
        <div class="feature__content containers">
            <div class="feature__bloc">
                <img
                    src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/development/Group1.png"
                    alt="icone service client"
                />
                <h3>Service client</h3>
                <p>
                    Un service transparent, actif et réactif à vos besoins. Pour
                    une bonne relation durable, nous avons un service client
                    pour répondre à tous vos besoins.
                </p>
            </div>
            <div class="feature__bloc">
                <img
                    src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/development/Vector2.png"
                    alt="icône oreille à l'écoute"
                />
                <h3>Une Bonne écoute</h3>
                <p>
                    Comment être un bon partenaire si nous ne restons pas à
                    l’écoute de vos préoccupations. Nous prêtons une écoute
                    privilégiée à votre projet
                </p>
            </div>
            <div class="feature__bloc">
                <img
                    src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/development/Contract_sign.png"
                    alt="icone d'un contrat signé"
                />
                <h3>Mutuellement Bénéfique</h3>
                <p>
                    From graphic design to video, we will effectively Aucun
                    contrat n’est uni bénéfique, notre objectif est de protéger
                    vos intérêts et de vous garantir une satisfaction au bout
                    nos efforts.
                </p>
            </div>
        </div>
    </section>

    <!-- -------------------business section--------------------------- -->
    <section class="business">
        <div class="containers business__content">
            <img
                src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/development/app083_1.png"
                alt="image d'un ordinateur"
                class="business__img"
            />
            <div class="business__text">
                <h2>
                    NOUS CREONS DES SITES WEB ET APPLICATIONS MOBILES QUI
                    REPONDENT A VOS BESOINS
                </h2>
                <p>
                    La plupart des entreprises ou particuliers ont finalement
                    compris qu'Internet est un petit monde qui renferme
                    plusieurs cibles. Il est donc possible que vous ayez trouvé
                    votre cible en ligne, mais il serait encore mieux pour vous
                    de vous présenter à elle de façon à la pousser à l’action de
                    votre choix. Nous vous proposons pour cela des wireframes
                    pour mieux visualiser votre projet et le respecter.
                </p>

                <div class="btn_flex">
                    <a href="contact.html" class="btn btn--blue">Commencez</a>
                    <a href="contact.html" class="btn_circle">
                        <img
                            src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/flech/arrow-blue-small.svg"
                            alt="fleche_bleu"
                        />
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!-- -------------------branches----------------------------------- -->
    <section class="branches">
        <div class="containers branches__content">
            <div class="branches__element">
                <h3>Site web</h3>
                <p>
                    Informez sur votre entreprise et ce qu'elle propose
                    Augmentez votre clientèle Augmentez votre visibilité sur le
                    web Vous pouvez avoir jusqu'à 10 pages dans votre site web.
                </p>
            </div>
            <div class="branches__element">
                <h3>Landing page</h3>
                <p>
                    C'est une page individuelle qui n'est pas connecté au site
                    web mère de l'entreprise Permet d'augmenter considérablement
                    des Leads Collectez les données des clients Améliorez le
                    référencement naturel Promouvez de nouveau produit.
                </p>
            </div>
            <div class="branches__element">
                <h3>Blog</h3>
                <p>
                    Augmentez votre visibilité Interagissez avec les
                    internautes/clients Améliorez votre présence sur les moteurs
                    de recherche grâce à Votre blog Contrôlez vos différents
                    réseaux sociaux Humanisez votre marque.
                </p>
            </div>
            <div class="branches__element">
                <h3>Sites E-commerce</h3>
                <p>
                    Devenez votre propre patron. Car la vente en ligne est l’un
                    des moyens les plus efficaces de vendre vos produits. Plus
                    besoin vous déplacer, tout se passe en ligne idéal pour :
                    Promouvoir vos produits Elargir votre zone de vente, trouver
                    de nouveaux clients Augmenter l'audience Facilite l'achat de
                    vos différents clients Avec la possibilité de booster la
                    vente, vos produits
                </p>
            </div>
            <div class="branches__element">
                <h3>Application web</h3>
                <p>
                    L'application web dynamique : est assez complexe. Elle
                    utilise les langages PHP et ASP ainsi qu'un panneau
                    d'administration (CMS) pour effectuer les modifications.
                    L'application web d'E-commerce ou d'E-shop : elle permet le
                    paiement par carte bancaire avec une partie de gestion
                    d'administrateur pour modifier, ajouter des photos et ou les
                    mises à jour. L'application web avec un gestionnaire de
                    contenu : le contenu est constamment mis à jour pour par les
                    gestionnaires, on peut avoir plusieurs gestionnaires
                    (éditeurs) qui pourront mettre à jour le contenu avec
                    l'accord de l'administrateur.
                </p>
            </div>
            <div class="branches__element">
                <h3>Application mobile</h3>
                <p>
                    Les applications natives : ce sont les applications qui
                    fonctionnent uniquement soit sur Android, soit sur IOS Les
                    applications hybrides : ce sont des applications qui
                    s'affichent sur toutes sortes d'appareils et n'importe quel
                    navigateur... Les applications web : elles sont accessibles
                    aux navigateurs pour mobiles, et fonctionnent avec des
                    langages. Elles présentent un affichage optimisé sur mobile
                    Ces applications diffèrent sur le temps de création, la
                    performance, le budget, l'interface utilisateur.
                </p>
            </div>
        </div>
    </section>

    <!-- -------------------besoin----------------------------------- -->
    <section class="besoin containers">
        <p>Besoin d’une application premium sur mesure pour votre business ?</p>

        <div class="btn_flex">
            <a href="contact.html" class="btn btn--blue">Commencez</a>
            <a href="contact.html" class="btn_circle">
                <img
                    src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/flech/arrow-blue-small.svg"
                    alt="fleche_bleu"
                />
            </a>
        </div>
    </section>

    <!-- -------------------howto----------------------------------- -->

    <section class="howto containers">
        <div class="howto__content">
            <div class="howto__text">
                <h2>Comment reconnaitre qu’une plateforme est responsive</h2>
                <img
                src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/development/develop_1.png"
                alt="image d'un ordinateur"
                class="howto__imgmobile howto__imgmobile--1"
            />
                <p>
                    Un site web responsive est un site développé pour s’afficher
                    sur tout type d’appareil, de façon à retrouver des
                    informations facilement. Le site web responsive joue
                    également avec le visuel ( design) il doit être agréable à
                    l’œil pour captiver l’internaute. Avoir un site responsif
                    permet à votre cible de voir votre contenu quel que soit le
                    type d’appareil que ce dernier utilise.
                </p>
            </div>

            <img
            src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/development/develop_1.png"
            alt="image d'un téléphone"
            class="howto__img howto__img--1"
        />

            
        </div>

        <!-- <div class="howto__content">
            <img
                src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/development/mobile_2.png"
                alt="image d'un téléphone"
                class="howto__img howto__img--2"
            />
            <div class="howto__text">
                <h2>Comment programmer sur son téléphone ?</h2>
                <img
                    src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/development/mobile_2.png"
                    alt="image d'un téléphone"
                    class="howto__imgmobile howto__imgmobile--2"
                />
                <p>
                    DIGITAL X SARL vous accompagne dans la transformation
                    numérique de votre activité. Vous souhaitez redynamiser
                    votre entreprise, être présent sur tous les moteurs de
                    recherche, avoir des visuels de qualité, un design attractif
                    mettant en avant vos produits ou services ? Alors, demandez
                    un devis gratuitement, ou sélectionnez un forfait, ou encore
                    optez pour un rendez-vous dans nos locaux.
                </p>
            </div>
        </div> -->
    </section>

    <!-- -------------------revolution----------------------------------- -->

    <section class="revolution">
        <div class="revolution__content containers">
            <h2>A dieu a la paperasse, le monde change</h2>
            <p>
                Inutile de chercher plus loin, nous avons la solution à vos
                soucis de numérisation. Nous proposons des solutions
                d’automatisation pour la gestion de votre personnel, vos outils,
                ou alors vos activités. Digital X vous accompagne dans ce
                sillage afin de vous réduire les coûts variables
                supplémentaires. Nous prônons du professionnalisme dans
                l’objectif de libérer votre espace et réallouer les ressources
                vers des endroits bénéfiques.
            </p>
        </div>
    </section>

    <!-- -------------------slidedev----------------------------------- -->

    <section class="slidedev">
        <div class="slidedev__container containers">
            <h1 class="slidedev__title">
                Comment nos développeurs procèdent pour travailler
            </h1>
            <div class="slidedev__content fades">
                <div class="slidedev__body">
                    <div class="slidedev__text">
                        <h2>Le cycle de vie du développement des systèmes</h2>
                        <p>
                            Le cycle de vie du développement des systèmes (SDLC)
                            est un modèle conceptuel utilisé dans la gestion de
                            projet qui décrit les étapes d'un projet de
                            développement de système d'information, depuis
                            l'étude de faisabilité initiale jusqu'à la
                            maintenance de l'application terminée.
                        </p>
                    </div>
                    <div class="slidedev__img">
                        <img
                            src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/development/systems-development-life-cycle_copy.png"
                            alt=""
                        />
                    </div>
                </div>
            </div>
            <div class="slidedev__content fades">
                <div class="slidedev__body">
                    <div class="slidedev__text">
                        <h2>Recherche et analyse</h2>
                        <p>
                            Pour s’assurer que la conception et le développement
                            sont sur la bonne voie, il est crucial de recueillir
                            des informations sur le projet et le client.
                        </p>
                        <p>
                            Si les développeurs n’ont pas une idée claire de ce
                            pour quoi ils travaillent et des exigences, ils ne
                            seront pas en mesure de fournir la bonne solution.;
                        </p>
                    </div>
                    <div class="slidedev__img">
                        <img
                            src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/development/caroussel2.png"
                            alt=""
                        />
                    </div>
                </div>
            </div>
            <div class="slidedev__content fades">
                <div class="slidedev__body">
                    <div class="slidedev__text">
                        <h2>Planification et stratégie</h2>
                        <p>
                            L’étape de la planification consiste à établir une
                            stratégie pour tous les aspects du produit,
                            notamment la conception, la technologie, le contenu
                            et le marketing. Sur la base des informations
                            recueillies et analysées lors de la dernière étape,
                            des décisions éclairées sont prises concernant la
                            structure et les caractéristiques du produit.
                        </p>
                    </div>
                    <div class="slidedev__img">
                        <img
                            src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/development/caroussel3.png"
                            alt=""
                        />
                    </div>
                </div>
            </div>
            <div class="slidedev__content fades">
                <div class="slidedev__body">
                    <div class="slidedev__text">
                        <h2>Conception et mise en page</h2>
                        <p>
                            L’étape de la conception fait intervenir les
                            concepteurs créatifs UI-UX.
                        </p>
                        <p>
                            La mise en page implique la conception d’une
                            ébauche, qui peut être graphique, pour avoir une
                            idée de la conception du produit. L’objectif de la
                            mise en page est de présenter une structure
                            d’information, permettant une visite visuelle du
                            contenu et des fonctionnalités de base.
                        </p>
                        <p>
                            L’architecture filaire conçue à la dernière étape
                            est transformée en boutons, onglets, menus, tableaux
                            de bord, thèmes de couleurs, typographie et
                            graphiques pour créer une mise en page de base.
                        </p>
                    </div>
                    <div class="slidedev__img">
                        <img
                            src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/development/caroussel4.png"
                            alt=""
                        />
                    </div>
                </div>
            </div>
            <div class="slidedev__content fades">
                <div class="slidedev__body">
                    <div class="slidedev__text">
                        <h2>Création de contenu</h2>
                        <p>
                            La rédaction du contenu consiste à fournir des
                            informations pertinentes sur l’entreprise d’une
                            manière facile à comprendre et attrayante. L’ajout
                            d’appels à l’action, les titres créatifs, la mise en
                            forme, l’édition de lignes, la rédaction et la mise
                            à jour des textes se poursuivent tout au long du
                            cycle de vie du développement.
                        </p>
                        <p>
                            Le contenu est le seul moyen d’interagir avec les
                            utilisateurs finaux et de les convertir en clients.
                            Il faudra donc accorder toute l’attention nécessaire
                            aux problèmes des utilisateurs et aux solutions
                            qu’on pourra leur proposer.
                        </p>
                    </div>
                    <div class="slidedev__img">
                        <img
                            src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/development/caroussel5.png"
                            alt=""
                        />
                    </div>
                </div>
            </div>

            <div class="slidedev__content fades">
                <div class="slidedev__body">
                    <div class="slidedev__text">
                        <h2>Code et développement</h2>
                        <p>
                            Développement du front-end
                            <br />
                            Les conceptions réalisées au cours des premières
                            étapes sont transformées en éléments interactifs.
                            Les concepteurs intègrent des composants et des
                            fonctions au squelette du produit, en utilisant des
                            frameworks et des outils de développement.
                        </p>

                        <p>
                            Développement du backend
                            <br />
                            Cette phase consiste à développer les
                            fonctionnalités réelles du produit. Tandis que le
                            front-end conçoit les éléments visuels, en
                            s’occupant du côté utilisateur, le back-end code les
                            instructions pour que chaque élément exécute les
                            fonctions nécessaires.
                        </p>
                    </div>
                    <div class="slidedev__img">
                        <img
                            src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/development/caroussel6.png"
                            alt=""
                        />
                    </div>
                </div>
            </div>
            <div class="slidedev__content fades">
                <div class="slidedev__body">
                    <div class="slidedev__text">
                        <h2>Test et assurance qualité</h2>
                        <p>
                            La phase de test du SDLC concerne l’assurance
                            qualité. Le processus à ce stade dépendra fortement
                            de l’existence d’une équipe QA dédiée ou d’autres
                            systèmes de test intégrés.
                        </p>
                        <p>
                            Cependant, rien ne vaut une bonne vieille session de
                            tests de pré-lancement. Il faudra réunir l’équipe
                            d’assurance qualité pour qu’elle essaie le produit,
                            enregistre les bogues et les problèmes de
                            performance, et pousse généralement le code jusqu’au
                            point de rupture. Ensuite, on renvoie le produit aux
                            développeurs pour qu’ils le corrigent avant de le
                            tester à nouveau. Votre SDLC doit être très clair
                            sur les normes à respecter pour le déploiement.
                        </p>
                    </div>
                    <div class="slidedev__img">
                        <img
                            src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/development/caroussel7.png"
                            alt=""
                        />
                    </div>
                </div>
            </div>
            <div class="slidedev__content fades">
                <div class="slidedev__body">
                    <div class="slidedev__text">
                        <h2>Déploiement et maintenance</h2>
                        <p>
                            C’est dans cette dernière phase du SDLC que l’on
                            observe le plus de variations. Certains développeurs
                            estiment que la maintenance ne doit pas être
                            considérée comme une phase du processus SDLC, mais
                            plutôt comme un processus continu. D’autres pensent
                            que la maintenance doit faire partie de la
                            planification du SDLC, car le développement ne
                            s’arrête pas au déploiement du produit.
                        </p>
                    </div>
                    <div class="slidedev__img">
                        <img
                            src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/development/caroussel9.png"
                            alt=""
                        />
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div style="text-align: center">
            <span class="dott" onclick="currentSlidde(1)"></span>
            <span class="dott" onclick="currentSlidde(2)"></span>
            <span class="dott" onclick="currentSlidde(3)"></span>
            <span class="dott" onclick="currentSlidde(4)"></span>
            <span class="dott" onclick="currentSlidde(5)"></span>
            <span class="dott" onclick="currentSlidde(6)"></span>
            <span class="dott" onclick="currentSlidde(7)"></span>
            <span class="dott" onclick="currentSlidde(8)"></span>
        </div>
    </section>

    <!-- -----------------cards--------------------------------------- -->
    <section class="card containers">
        <div class="card__container">
            <div class="card__info">
                <h1>Service de Software - Hardware</h1>
                <h3>
                    Computer System management - Thumb print -Asset - Innovation
                    maintenance du système - Innovation logicielle -
                    Développement de jeux vidéo
                </h3>
                <p>
                    DIGITAL X SARL vous accompagne dans la transformation
                    numérique de votre activité. Vous souhaitez redynamiser
                    votre entreprise, être présent sur tous les moteurs de
                    recherche, avoir des visuels de qualité, un design attractif
                    mettant en avant vos produits ou services ?
                </p>
            </div>
            <div class="card__body">
                <div class="card__element card__element--first">
                    <img
                        src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/development/Group%2074.png"
                        alt="icône ordinateur"
                    />
                    <h2>Computer System management</h2>
                    <p>
                        Le cycle de vie du développement des systèmes (SDLC) est
                        un modèle conceptuel utilisé dans la gestion de projet
                        qui décrit les étapes d'un
                    </p>
                </div>
                <div class="card__element card__element--second">
                    <img
                        src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/development/Group2.png"
                        alt="icône d'empreinte"
                    />
                    <h2>Thumb print</h2>
                    <p>
                        Le cycle de vie du développement des systèmes (SDLC) est
                        un modèle conceptuel utilisé dans la gestion de projet
                        qui décrit les étapes d'un
                    </p>
                </div>
                <div class="card__element card__element--third">
                    <img
                        src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/development/Business_contact_connection.png"
                        alt="icône contact"
                    />
                    <h2>Asset</h2>
                    <p>
                        Le cycle de vie du développement des systèmes (SDLC) est
                        un modèle conceptuel utilisé dans la gestion de projet
                        qui décrit les étapes d'un
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!-- -----------------otherservice--------------------------------------- -->
    <section class="otherservice">
        <div class="otherservice__container">
            <a
                href="marketing.html"
                class="otherservice__content content--first"
            >
                <div class="otherservice__text">
                    <h2>Digital Marketing</h2>
                    <p>
                        “Placez-vous au top avec notre stratégie SEO” visuels
                        dynamiques et attractifs”
                    </p>
                </div>
                <div class="otherservice__img">
                    <img
                        src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/development/Background_copy_1.png"
                        alt=""
                    />
                </div>
            </a>

            <div class="otherservice__content content--second">
                <div class="otherservice__img">
                    <img
                        src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/development/content-karma-color-splash_copy_copy_copy_1.png"
                        alt=""
                    />
                </div>
                <div class="otherservice__text">
                    <h2>Branding and design</h2>
                    <p class="aligh--right">
                        “Démarquez-vous de vos concurrents avec des visuels
                        dynamiques et attractifs”
                    </p>
                </div>
            </div>

            <div class="otherservice__content content--third">
                <div class="otherservice__text">
                    <h2>Web design</h2>
                    <p>
                        “Prévisualisez la maquette de votre projet avant sa
                        réalisation”
                    </p>
                </div>
                <div class="otherservice__img">
                    <img
                        src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/development/Web-Design-PNG-Transparent_1.png"
                        alt=""
                    />
                </div>
            </div>

            <a
                href="contact.html"
                class="otherservice__content content--fourth"
            >
                <div class="otherservice__img">
                    <img
                        src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/development/jp1_2.png"
                        alt=""
                    />
                </div>
                <div class="otherservice__text">
                    <h2 class="text--white">Project manager</h2>
                    <p class="aligh--right text--white">
                        “Confiez-nous vos projets et bénéficiez d’un suivi
                        particulier.”
                    </p>
                </div>
            </a>
        </div>
    </section>

    <!-- -------------CONTACT-------------------------------- -->
    {% include "partials/contact.html" %} {% include "partials/mob-contact.html"
    %}

    <script>
        /*******************************************************
                    DEV
 ********************************************************/

        /////////////////////caroussel de developpement

        var devSlideIndex = 1;
        devShowSlide(devSlideIndex);

        function currentSlidde(n) {
            devShowSlide((devSlideIndex = n));
        }
        function devShowSlide(n) {
            var i;
            var slides = document.getElementsByClassName('slidedev__content');
            var dotts = document.getElementsByClassName('dott');
            if (n > slides.length) {
                devSlideIndex = 1;
            }
            if (n < 1) {
                devSlideIndex = slides.length;
            }
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = 'none';
            }
            for (i = 0; i < dotts.length; i++) {
                dotts[i].className = dotts[i].className.replace(' actived', '');
            }
            slides[devSlideIndex - 1].style.display = 'block';
            dotts[devSlideIndex - 1].className += ' actived';
        }

        var slideInd = 0;
        devShowSlides();
        function devShowSlides() {
            var i;
            var slides = document.getElementsByClassName('slidedev__content');
            var dotts = document.getElementsByClassName('dott');

            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = 'none';
            }
            slideInd++;
            if (slideInd > slides.length) {
                slideInd = 1;
            }
            for (i = 0; i < dotts.length; i++) {
                dotts[i].className = dotts[i].className.replace(' actived', '');
            }

            slides[slideInd - 1].style.display = 'block';
            dotts[slideInd - 1].className += ' actived';
            setTimeout(devShowSlides, 5000); // Change image every 2 seconds
        }
    </script>
</main>

{% endblock %}
