<!-- home.html -->
{% set page_title = "Digital X" %}

{% extends "layout.html" %}

{% block metadata %}

{% endblock %}

{% block content %}


<main class="header_main">
	<div class="carousel">
		<div class="carousel_inner">
			<div class="carousel_item carousel_item__active">
				<img src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/Header/bg.jpg" alt="" class="carousel_img">
				<img src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/Header/Phonebg.png" alt="" class="phone">
				<img src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/Header/bgtab.png" alt="" class="tab">
				<div class="carousel_caption container">
					<h1 class="carousel_title">Du Virtuel au Réel</h1>
					<p class="carousel_description">Votre partenaire digital  </p>
					<div class="btn_flex">
						<a href="contact.html" class="btn btn--blue">Allons-y ensemble</a>
						<a href="contact.html" class="btn_circle">
							<img src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/flech/arrow-blue-small.svg" alt="fleche_bleu">
						</a>
					</div>
				</div>
			</div>
			<div class="carousel_item">
				<img src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/Header/bg1.png" alt="" class="carousel_img">
				<img src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/Header/phonebg1.png" alt="" class="phone">
				<img src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/Header/bgtab1.png" alt="" class="tab">
				<div class="carousel_caption container">
					<h1 class="carousel_title">Du Virtuel au Réel</h1>
					<p class="carousel_description">Votre marque parle pour vous </p>
					<div class="btn_flex">
						<a href="contact.html" class="btn btn--blue">Allons-y ensemble</a>
						<a href="contact.html" class="btn_circle">
							<img src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/flech/arrow-blue-small.svg" alt="fleche_bleu">
						</a>
					</div>
				</div>
			</div>
			<div class="carousel_item">
				<img src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/Header/bg2.png" alt="" class="carousel_img">
				<img src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/Header/phonebg2.png" alt="" class="phone">
				<img src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/Header/bgtab2.png" alt="" class="tab">
				<div class="carousel_caption container">
					<h1 class="carousel_title">Du virtuel au réel  </h1>
					<p class="carousel_description">Rendez visible votre activité en ligne</p>
					<div class="btn_flex">
						<a href="contact.html" class="btn btn--blue">Allons-y ensemble</a>
						<a href="contact.html" class="btn_circle">
							<img src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/flech/arrow-blue-small.svg" alt="fleche_bleu">
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>

<section class="section__1">
	<div class="section__1__content container">
		<div class="content__title content__title--blue">
			<!-- <h1>Qui sommes nous</h1> -->
		</div>
		<div class="content__subtitle">
			<p onclick="changetoapropos() " class="subtitle1">
				Notre mission
			</p>
			<p onclick="changetomission() " class="subtitle2">
				Notre vision
			</p>
			<p onclick="changetovision() " class="subtitle3">
				Nos valeurs
			</p>
		</div>
		<div class="content__sar">
			<div class="sar sar__1" id="sar__on"></div>
			<div class="sar sar__2" id="sar__tw"></div>
			<div class="sar sar__3" id="sar__thre"></div>
		</div>
		<div class="content__text grid__1_cols">
			<div class="text__1" id="text__on">
				<p>Nous sommes à la recherche permanente de nouvelles techniques pour satisfaire et proposer des stratégies à nos clients, raison pour laquelle nous offrons un service 3 en 1. Pour vous permettre d’être complet dans votre stratégie.</p>
				<br>
				<p>Proposer des contenus de qualité aux entreprises pour faire connaître leurs services. Promouvoir l’expérience utilisateur.</p>
				<br>
				<p>Accompagner nos clients dans la réalisation de leurs évènements en capturant leurs plus beaux évènements, que ce soit privé ou public.</p>
				<p>Créer des sites dynamiques et responsives qui seront rentables à long terme.</p>
			</div>
			<div class="text__2" id="text__tw">
				<p>Nous voulons innover dans le domaine du digital, apporter notre touche personnelle dans chacune de nos créations.</p>
				<br>
				<p>Répondre aux besoins des entreprises et particuliers dans les divers domaines du digital.</p>
				<br>
				<p>En proposant un service premium tant sur la qualité du service rendu que sur le prix.</p>
			</div>
			<div class="text__3" id="text__thre">
				<p>Notre fonctionnement global se fonde sur des éléments qui nous sont propres et que nous nous appliquons à respecter au quotidien.</p><br>
				<p>Le goût d’entreprendre. </p><br>
				<p>Le goût de la créativité. </p><br>
				<p>La valeur client. </p><br>
				<p>La passion. </p>
			</div>
		</div>
	</div>
</section>

<section class="section_accordion Mobile1">
	<div>
		<button class="accordion">Notre mission </button>
		<div class="panel">
			<p>Nous sommes à la recherche permanente de nouvelles techniques pour satisfaire et proposer des stratégies à nos clients, raison pour laquelle nous offrons un service 3 en 1. Pour vous permettre d’être complet dans votre stratégie .</p>
			<p>Proposer des contenus de qualité aux entreprises pour faire connaître leurs services. Promouvoir l’expérience utilisateur.</p>
			<p>Accompagner nos clients dans la réalisation de leurs évènements en capturant leurs plus beaux évènements, que ce soit privé ou public. </p>
			<p>Créer des sites dynamiques et responsives qui seront rentables à long terme. </p>
		</div>

		<button class="accordion">Notre vision</button>
		<div class="panel">
			<p>Nous voulons innover dans le domaine du digital, apporter notre touche personnelle dans chacune de nos créations.</p>
			<p>Répondre aux besoins des entreprises et particuliers dans les divers domaines du digital.</p>
			<p>En proposant un service premium tant sur la qualité du service rendu que sur le prix.</p>
		</div>

		<button class="accordion">Nos valeurs</button>
		<div class="panel">
			<p>Notre fonctionnement global se fonde sur des éléments qui nous sont propres et que nous nous appliquons à respecter au quotidien.</p>
			<p>Le goût d’entreprendre. </p>
			<p>Le goût de la créativité. </p>
			<p>La valeur client. </p>
			<p>La passion. </p>
		</div>
	</div>
</section>

<section class="section__2">
	<div class="section__2__content container">
		<div class="content__title content__title--white">
			<h1>Nos services</h1>
		</div>
		<div class="content__elts ">
			<div class="content__elts_1">
				<!-- <div class="content__img"> -->
					<img src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/Service/1.png" alt="seo">
				<!-- </div> -->
				<div class="content__text">
					<p>Shooting Pro</p>
					<span>Conception de visuel</span>
				</div>
			</div>
			<div class="content__elts_1">
				<!-- <div class="content__img"> -->
					<img src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/Service/6.png" alt="seo">
				<!-- </div> -->
				<div class="content__text">
					<p>branding</p>
					<span>Belle expérience utilisateur</span>
				</div>
			</div>
			<div class="content__elts_1">
				<!-- <div class="content__img"> -->
					<img src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/Service/4.png" alt="seo">
				<!-- </div> -->
				<div class="content__text">
					<p>Referencement naturel</p>
					<span>Un projet sur-mesure</span>
				</div>
			</div>
			<div class="content__elts_1">
				<!-- <div class="content__img"> -->
					<img src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/Service/10.png" alt="seo">
				<!-- </div> -->
				<div class="content__text">
					<p>logiciel de gestion</p>
					<span>Facilite la gestion d'activités</span>
				</div>
			</div>
			<div class="content__elts_1 none">
				<!-- <div class="content__img"> -->
					<img src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/Service/11.png" alt="seo">
				<!-- </div> -->
				<div class="content__text">
					<p>Montage Audio Visuel</p>
					<span>immortalisez vos événements</span>
				</div>
			</div>
			<div class="content__elts_1 none">
				<!-- <div class="content__img"> -->
					<img src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/Service/3.png" alt="seo">
				<!-- </div> -->
				<div class="content__text">
					<p>Design graphique</p>
					<span>Affirmez votre identité</span>
				</div>
			</div>
			<div class="content__elts_1 none">
				<!-- <div class="content__img"> -->
					<img src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/Service/8.png" alt="seo">
				<!-- </div> -->
				<div class="content__text">
					<p>Developement Web</p>
					<span>un contenu fluide</span>
				</div>
			</div>
			<div class="content__elts_1 none">
				<!-- <div class="content__img"> -->
					<img src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/Service/12.png" alt="seo">
				<!-- </div> -->
				<div class="content__text">
					<p>Marketing de contenu</p>
					<span>Un contenu de qualité</span>
				</div>
			</div>

		</div>
	</div>
</section>

<section class="section__tabs">
	<div class="container">
		<div class="content grid__2_cols">
			<input type="radio" name="slider" checked id="graphique">
			<input type="radio" name="slider" id="Developpement">
			<input type="radio" name="slider" id="Marketing">
			<input type="radio" name="slider" id="visuel">
			<input type="radio" name="slider" id="digitale">

			<div class="text-content">
				<div class="graphique text">
					<h2 class="title">Nous créons des expériences numériques qui enthousiasment et inspirent</h2>
					<p>Un bon branding est au centre de toute communication digitale. Communiquez un message visuel, à travers une image, une typographie, la couleur et la matière. Un bon design démontre une personnalité et les valeurs que vous communiquez à vos clients. Un bon graphiste doit avoir une excellente capacité créative différentielle des autres. </p>
				</div>
				<div class="Developpement text">
					<h2 class="title">Services de développement spécialisés</h2>
					<p>La programmation nécessite une bonne compréhension du système informatique et ses limites pour créer, améliorer ou reproduire une idée numérique. Des langues complexes que nos experts maîtrisent bien, qui vous réalisent des applications web et mobile en un rien de temps</p>
				</div>
				<div class="Marketing text">
					<h2 class="title">Services professionnels de marketing digital</h2>
					<p>Convertissez vos visiteurs en client en ligne grâce au Marketing Digital. “Nous vous aidons, à travers des stratégies testées, à vous distinguer parmi vos concurrents présents sur internet. Le but ici étant de trouver et d’appliquer la bonne méthode SMART pour rapidement atteindre votre cible et générer ou augmenter votre chiffre d’affaires.</p>
				</div>
				<div class="visuel text">
					<h2 class="title">Transformez vos idées en vidéos</h2>
					<p>Une bonne production audiovisuelle attire plus de visiteurs, reflète l’image de marque de votre entreprise. Il est utile d’avoir à ses côtés des personnes spécialisées dans le montage vidéo, et aussi dans l’audio (Podcast) pour avoir un rendu de qualité selon vos exigences. Car beaucoup de prospects sont plus attirés par un message vidéo</p>
				</div>
				<div class="digitale text">
					<h2 class="title">Transformation digitale</h2>
					<p>Nous avons pour mission de redynamiser le secteur entrepreneurial et de permettre aux PME de vivre l’importance de la transformation digitale dans leurs entreprises. Nous vous assistons dans la conception et l’installation d’une autre dynamique que seule vous, avez l’exclusivité. Digital X SARL se veut de produire pour nos utilisateurs des espaces en ligne qui viendront régler tous vos problèmes que la communication simple ne peut pas gérer.  </p>
				</div>
			</div>

			<div class="list">

				<label for="graphique" class="graphique">
					<span class="title">Design graphique</span>
					<img src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/flech/arrow-black-small.svg" alt="arrow-black-small">
				</label>

				<label for="Developpement" class="Developpement">
					<span class="title">Développement</span>

					<img src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/flech/arrow-black-small.svg" alt="arrow-black-small">

				</label>

				<label for="Marketing" class="Marketing">
					<span class="title">Marketing digital</span>

					<img src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/flech/arrow-black-small.svg" alt="arrow-black-small">

				</label>

				<label for="visuel" class="visuel">
					<span class="title">Audio-visuel</span>

					<img src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/flech/arrow-black-small.svg" alt="arrow-black-small">

				</label>

				<label for="digitale" class="digitale">
					<span class="title">Transformation digitale</span>

					<img src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/flech/arrow-black-small.svg" alt="arrow-black-small">

				</label>
				<div class="slider"></div>

			</div>

		</div>
	</div>
</section>

<section class="section__blog">
	<div class="container content">
		<div class="content__title content__title--black">
			<h1>Blog</h1>
		</div>
			<input type="radio" name="slider" checked id="afiliation">
			<input type="radio" name="slider" id="email">
			<input type="radio" name="slider" id="influence">

			<div class="text-content">
				
				<div class="afiliation contener">
					<div class="text-content--img grid__2_col ">
						<div class="img">
							<img src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/Blog/Marketing-dafiliation1.png" alt="">
						</div>
						<div class="text">
							<h2 class="title">Comment vous faire du chiffre à partir du branding ?</h2>
							<p>Par BRANDING , nous devons entendre les mesures mises en place pour créer une marque reconnaissable à laquelle le consommateur peut s’identifier, il englobe  différents éléments  que nous soulèverons de façon distincte et détaillée tout le long de cet article.  Il comporte donc plusieurs détails à savoir : le naming, la typographie et charte graphique, le logotype, le packaging et...</p>
						</div>
					</div>
				</div>
				<div class="email contener">
					<div class="text-content--img grid__2_col">
						<div class="img">
							<img src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/Blog/Marketing-dinfluence1.png" alt="">
						</div>
						<div class="text">
							<h2 class="title">Comment élaborer une bonne stratégie digitale ?</h2>
							<p>La plupart des entrepreneurs, n’ont pas au préalable définit une bonne stratégie de marketing digital, qui leur permettrait d’augmenter leur visibilité et par conséquent, leur chiffre d’affaires. Quelles sont les étapes à suivre pour l’élaboration d’une bonne stratégie digitale ?<br> <strong>Etape 1 :</strong> Définissez votre cible.<br> <strong>Etape 2 :</strong> Identifiez vos objectifs et les outils à utiliser. <br><strong>Etape 3 :</strong> Analysez vos médias existants  
	<br>
								<strong>Etape 4 :</strong> Planifiez vos médias possédés  
								<br>
								<strong>Etape 5 :</strong> Analysez vos médias gagnés  </p>
						</div>
					</div>
				</div>
				<div class="influence contener">
					<div class="text-content--img grid__2_col">
						<div class="img">
							<img src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/Blog/Marketing-demail1.png" alt="">
						</div>
						<div class="text">
							<h2 class="title">Pourquoi avoir un site web en 2022 ?</h2>
							<p>Avant de vous donner les avantages d’avoir un site web, nous allons commencer par vous dire ce que c’est.  
	
								Un site web est un ensemble de pages web et de ressources reliées par des hyperliens, défini et accessible par une adresse web. 
								
								Quels types de sites web on peut avoir ? <br>
								
								* <strong>Les sites vitrines</strong>  <br>
								* <strong>Les sites institutionnels</strong> <br>  
								* <strong>Les sites E-commerce</strong> <br> 
								* <strong>Les portails </strong> <br>
								* <strong>Les sites intranet </strong> <br>
								* <strong>Les blogs</strong> Etc. <br>
							</div>
					</div>
				</div>
				
			</div>

			<div class="list">
				<label for="afiliation" class="afiliation tap">
					<img src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/Blog/Marketing-dafiliation.png" alt="">
				</label>

				<label for="email" class="email tap">
					<img src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/Blog/Marketing-dinfluence.png" alt="">
				</label>

				<label for="influence" class="influence tap">
					<img src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/Blog/Marketing-demail.png" alt="">
				</label>
				<div class="slider"></div>
			</div>

	</div>
</section>

<section class="section__realisation ecran_real ">
	<div class="container">
		<div class="content__title content__title--black">
		<h1>Nos Réalisations</h1>
		<p>Toute image, design et logo sur ce site ont été réalisés par notre équipe, excepté certains logos partenaires. Vous trouverez ci-dessous quelques exemples de nos nombreuses réalisations. </p>
		</div>
	</div>
	<div class="grid__2_col contain container">
		
		<div class="ecran_bloc justify">
			
			<div class="row grid__2_col">
				<div class="column">
					<img class="demo"
							 src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/Realisation/rea1.png" onclick="currentSlide(1)"
							 alt="rea1">
				</div>
				<div class="column">
					<img class="demo cursor w100p"
							 src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/Realisation/rea2.png" onclick="currentSlide(2)"
							 alt="rea1">
				</div>
				<div class="column">
					<img class="demo cursor w100p"
							 src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/Realisation/rea3.png" onclick="currentSlide(3)"
							 alt="rea1">
				</div>
				<div class="column">
					<img class="demo cursor w100p"
							 src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/Realisation/rea4.png" onclick="currentSlide(4)"
							 alt="rea1">
				</div>
			</div>

			<!-- <div class="center">
        <a href="#" class="btn">Voir Plus</a>
      </div> -->
		</div>

		<div class="ecran_bloc_2">
			<div class="mySlides">
				<img src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/Realisation/real1.png" alt="real1">
			</div>
			<div class="mySlides">
				<img src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/Realisation/real2.png" alt="real2">
			</div>
			<div class="mySlides">
				<img src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/Realisation/real3.png" alt="real3">
			</div>
			<div class="mySlides">
				<img src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/Realisation/real4.png" alt="real4">
			</div>

			<a class="prev" onclick="plusSlides(-1)">❮</a>
			<a class="next" onclick="plusSlides(1)">❯</a>
		</div>

	</div>
</section>
<section class="section_realisation mobile_realisation">
	<div class="ecran_bloc contain justify">
		<div class="realisation_contain">
			<div class="content__title content__title--black"><h1>Nos Réalisations</h1></div>
			<p>Toute image, design et logo sur ce site ont été réalisés par notre équipe, excepté certains logos partenaires. Vous trouverez ci-dessous quelques exemples de nos nombreuses réalisations. </p>
		</div>
	</div>
	<div class="grid__2_col realisation_contain">
		<div class = "img-container">
			<img src = "https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/Realisation/img1.png" alt = "Audrey1">
			<div class = "content">
				<div class = "content">
					<div class = "zoom-text">Click</div>
				</div>
			</div>
		</div>
		<div class = "img-container">
			<img src = "https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/Realisation/img2.png" alt = "Audrey1">
			<div class = "content">
				<div class = "content">
					<div class = "zoom-text">Click</div>
				</div>
			</div>
		</div>

		<div class = "img-container">
			<img src = "https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/Realisation/img3.png" alt = "Audrey1">
			<div class = "content">
				<div class = "content">
					<div class = "zoom-text">Click</div>
				</div>
			</div>
		</div>

		<div class = "img-container">
			<img src = "https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/Realisation/img4.png" alt = "Audrey1">
			<div class = "content">
				<div class = "zoom-text">Click</div>
			</div>
		</div>
	</div>
	<!-- <div class="center"><a href="#" class="btn">Voir plus</a></div> -->
	<div class = "image-view"></div>
	<div class = "image-box">
		<div id = "prev-btn"></div>
		<div id = "next-btn"></div>
		<!-- <div id="close-btn">
      <img src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/Realisation/close.png" alt="close">
    </div> -->
	</div>
</section>

<section class="section_company">
	<div class="company__bloc_3">
		<div class="company__bloc_2_text_1 company__bloc_3_text container">
			<h1>NOTRE EQUIPE</h1>
			<!-- <p class="big">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p> -->
			<!-- <p class="btn_button">
        <a href="#" class="our_button">voir tout l’equipe</a>
      </p> -->
		</div>
		<div class="company__bloc_3_img">
			<ul class="list containt">
				<li><img src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/Equipe/1.png" alt="1"></li>
				<li><img src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/Equipe/2.png" alt="2"></li>
				<li><img src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/Equipe/3.png" alt="3"></li>
				<li><img src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/Equipe/4.png" alt="4"></li>
				<li><img src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/Equipe/5.png" alt="5"></li>
				<li><img src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/Equipe/6.png" alt="6"></li>
				<li><img src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/Equipe/7.png" alt="7"></li>
			</ul>
		</div>
	</div>
</section>

<section class="section_equipe">
	<div class="container justify">
		<div class="content__title content__title--black">
			<h1 style="font-weight: 200;">Notre Equipe</h1>
		</div>
		<div class="content__img">
			<div class="list">
				<div class="list--elts">
					<div class="box">
						<img src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/Equipe/1.png" alt="1">
						<img class="hover-img" src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/Equipe/3hover.png" alt="2">
					</div>
					<div class="list--text">
						<h3>Lucie SONGUE</h3>
						<span>content<br>strategist</span>
					</div>
				</div>
				<div class="list--elts">
					<div class="box">
						<img src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/Equipe/2.png" alt="1">
						<img class="hover-img" src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/Equipe/2.png" alt="2">
					</div>
					<div class="list--text">
						<h3>Jeanne Chauapi</h3>
						<span>Assistante de<br>direction</span>
					</div>
				</div>
				<div class="list--elts">
					<div class="box">
						<img src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/Equipe/3.png" alt="1">
						<img class="hover-img" src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/Equipe/1hover.png" alt="2">
					</div>
					<div class="list--text">
						<h3>Rollin Tianga</h3>
						<span>Developpeur<br>front-end</span>
					</div>
				</div>
				<div class="list--elts">
					<div class="box">
						<img src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/Equipe/4.png" alt="1">
						<img class="hover-img" src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/Equipe/2hover.png" alt="2">
					</div>
					<div class="list--text">
						<h3>J.P Essama</h3>
						<span> Project<br>Manager</span>
					</div>
				</div>
				<div class="list--elts">
					<div class="box">
						<img src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/Equipe/5.png" alt="1">
						<img class="hover-img" src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/Equipe/5.png" alt="2">
					</div>
					<div class="list--text">
						<h3>Lumiere Foueze</h3>
						<span> Responsable web<br>éditorial</span>
					</div>
				</div>
				<div class="list--elts">
					<div class="box">
						<img src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/Equipe/6.png" alt="1">
						<img class="hover-img" src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/Equipe/6hover.png" alt="2">
					</div>
					<div class="list--text">
						<h3>Correta Nhta</h3>
						<span>Social Media<br>Manager</span>
					</div>
				</div>
				<div class="list--elts">
					<div class="box">
						<img src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/Equipe/7.png" alt="1">
						<img class="hover-img" src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/Equipe/7hover.png" alt="2">
					</div>
					<div class="list--text">
						<h3>Yvan Mouangue</h3>
						<span>SEO Stratégist<br>SEA Manager</span>
					</div>
				</div>
			</div>
		</div>
		<!-- <div class="btn--center">
      <a href="#" class="btn">VOIR TOUTE L’EQUIPE</a>
    </div> -->
	</div>
</section>

<!-- -------------CONTACT-------------------------------- -->
{% include "partials/contact.html" %}
{% include "partials/mob-contact.html" %}

{% endblock %}
