<!-- marketing.html -->
{% set page_title = "Marketing" %} {% extends "layout.html" %}

{% block content %}

<main>
    <section class="marketing__header">
        <div class="marketing__header_bg">
            <div class="marketing__header_backcolor"></div>
            <div class="marketing__header_body grid__2_col content gap-10">
                <div class="marketing__header_body_1 flex-column">
                    <h1>la promotion sur le web</h1>
                    <p class="marketing__header_desc">
                        Une stratégie digitale sur mesure est une stratégie
                        rentable à long terme
                    </p>
                    <div class="btn_flex marketing__header_contact">
                        <a
                            href="contact.html"
                            class="btn btn--blue"
                            >Commencez</a
                        >
                        <a href="contact.html" class="btn_circle">
                            <img
                                src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/flech/arrow-blue-small.svg"
                                alt="fleche_bleu"
                            />
                        </a>
                    </div>
                </div>
                <div class="marketing__header_body_2 flex-column">
                    <div class="marketing_ligne">
                        <p>Le bloc Marketing de contenu</p>
                        <img
                            src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/marketing/fleche.png"
                            alt="fleche"
                        />
                    </div>
                    <div class="marketing_ligne">
                        <p>Le bloc Markéting de réseaux sociaux</p>
                        <img
                            src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/marketing/fleche.png"
                            alt="fleche"
                        />
                    </div>
                    <div class="marketing_ligne">
                        <p>Le bloc Marketing d’email</p>
                        <img
                            src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/marketing/fleche.png"
                            alt="fleche"
                        />
                    </div>
                    <div class="marketing_ligne">
                        <p>Le bloc Marketing Audiovisuel</p>
                        <img
                            src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/marketing/fleche.png"
                            alt="fleche"
                        />
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="marketing__bloc-1 flex-line content">
        <div class="bloc-1">
            <div class="bloc-1_img">
                <img
                    src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/marketing/img1.png"
                    alt="img1"
                />
            </div>
            <div class="bloc-1_title">
                <p>Sensibilisation à la marque</p>
            </div>
            <div class="bloc-1_desc">
                <span
                    >Établissez des relations et partagez les valeurs de
                    votre entreprise grâce à un contenu bien conçu, adapté à
                    votre marque et à votre public cible.</span
                >
            </div>
        </div>
        <div class="bloc-1">
            <div class="bloc-1_img">
                <img
                    src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/marketing/img2.png"
                    alt="img1"
                />
            </div>
            <div class="bloc-1_title">
                <p>Croissance de l'entreprise</p>
            </div>
            <div class="bloc-1_desc">
                <span
                    >Accélérez la croissance et les bénéfices de votre
                    entreprise grâce à des méthodes de marketing numérique
                    éprouvées, notamment le référencement, le référencement
                    payant, les médias sociaux, etc.</span
                >
            </div>
        </div>
        <div class="bloc-1">
            <div class="bloc-1_img">
                <img
                    src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/marketing/img3.png"
                    alt="img1"
                />
            </div>
            <div class="bloc-1_title"><p>Retour sur investissement</p></div>
            <div class="bloc-1_desc">
                <span
                    >Augmentez votre retour sur investissement grâce à des
                    solutions de marketing numérique élaborées par des
                    experts.</span
                >
            </div>
        </div>
    </section>

    <section class="marketing__bloc-2 bg--1" id="marketingcontenu">
        <div class="content marketing__bloc-2_bg">
            <h2>Marketing de contenu</h2>
            <p>
                Le marketing de contenu est une discipline incontournable
                pour toutes entreprises qui désirent développer son
                activité. Cette stratégie marketing repose sur la création
                de contenu à forte valeur ajoutée dans l’objectif d’attirer,
                engager et conserver une audience qualifiée. Mais comment
                mettre en place une telle stratégie ? DIGITAL X SARL vous
                aider dans l’élaboration de la vôtre cliquez ici (lien de la
                page de vente)
            </p>
            <!-- <div class="center">
                <a href="#" class="btn">Lire Plus</a>
            </div> -->
        </div>
    </section>

    <section class="marketing__bloc-3" id="marketingreseau">
        <div class="content grid__2_col marketing__bloc-3_bg">
            <div class="marketing__bloc-3_bg_text">
                <h2>Markéting de réseaux sociaux</h2>
                <p>
                    Le Marketing des réseaux sociaux (ou Social Media
                    Marketing) est une forme de Marketing sur Internet qui
                    implique la création et le partage de contenu sur les
                    réseaux sociaux. Le Marketing sur les réseaux sociaux
                    inclut la publication des contenus (textuel, image,
                    vidéo) qui favorisent l’engagement du public. Pour la
                    création et l’animation de vos différentes plateformes
                    sociales, DIGITAL X SARL met son expertise à votre
                    disposition. Pour en savoir plus cliquez ici (lien de
                    page de vente)
                </p>
                <!-- <div class="center">
                    <a href="#" class="btn">Lire Plus</a>
                </div> -->
            </div>
            <div class="marketing__bloc-3_bg_img">
                <img
                    src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/marketing/sociaux.png"
                    alt=""
                />
            </div>
        </div>
    </section>
    <section class="marketing__bloc-5" id="marketingreseau">
        <div class="content grid__2_col marketing__bloc-5_bg">
            <div class="marketing__bloc-5_bg_elt">
                <h2>Markéting de réseaux sociaux</h2>
                <div class="marketing__bloc-3_bg_img">
                    <img
                        src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/marketing/sociaux.png"
                        alt=""
                    />
                </div>
            </div>
            <div class="marketing__bloc-5_bg_text">
                <p>
                    Le Marketing des réseaux sociaux (ou Social Media
                    Marketing) est une forme de Marketing sur Internet qui
                    implique la création et le partage de contenu sur les
                    réseaux sociaux. Le Marketing sur les réseaux sociaux
                    inclut la publication des contenus (textuel, image,
                    vidéo) qui favorisent l’engagement du public. Pour la
                    création et l’animation de vos différentes plateformes
                    sociales, DIGITAL X SARL met son expertise à votre
                    disposition. Pour en savoir plus cliquez ici (lien de
                    page de vente)
                </p>
                <!-- <div class="center">
                    <a href="#" class="btn">Lire Plus</a>
                </div> -->
            </div>
        </div>
    </section>

    <section class="marketing__bloc-2 bg--2" id="marketingemail">
        <div class="content marketing__bloc-2_bg">
            <h2>Marketing d’email</h2>
            <p>
                Beaucoup de personnes possèdent une adresse mail, car elle
                est souvent demandée dans les sites pour avoir accès à
                certains privilèges. Le Marketing d’email a un grand
                avantage, c’est une stratégie parmi tant d’autre, elle est
                peu coûteuse, elle permet de personnaliser les messages que
                vous souhaitez envoyer de façon automatique et programmée à
                vos prospects. Elle permet de maintenir la relation avec le
                client, et de lui faire parvenir des nouveautés, des
                informations, ou des promotions de l’entreprise. En échange
                de leur adresse mail, vous pourriez offrir des bons de
                réduction (par exemple) à votre prospect. Et ainsi évaluer
                vos performances. Alors n’hésitez plus contactez-nous pour
                avoir d’avantages d’informations.
            </p>
            <!-- <div class="center">
                <a href="#" class="btn">Lire Plus</a>
            </div> -->
        </div>
    </section>

    <section class="marketing__bloc-3" id="marketinginfluence">
        <div class="content grid__2_col marketing__bloc-3_bg">
            <div class="marketing__bloc-3_bg_img">
                <img
                    src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/marketing/influence.png"
                    alt=""
                />
            </div>
            <div class="marketing__bloc-3_bg_text">
                <h2>Marketing d’influence</h2>
                <p>
                    Le Marketing d’influence reste un domaine nettement
                    confus aujourd'hui. Il consiste à déterminer à travers
                    des analyses, des influenceurs ayant grandi une forte
                    communauté qui leur démontre une confiance, qui seront
                    prescrit pour la promotion d’un produit ou d’un service.
                </p>
                <!-- <div class="center">
                    <a href="#" class="btn">Lire Plus</a>
                </div> -->
            </div>
        </div>
    </section>
    <section class="marketing__bloc-5" id="marketinginfluence">
        <div class="content grid__2_col marketing__bloc-5_bg">
            <div class="marketing__bloc-5_bg_elt">
                <h2>Marketing d’influence</h2>
                <div class="marketing__bloc-3_bg_img">
                    <img
                        src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/marketing/influence.png"
                        alt=""
                    />
                </div>
            </div>
            <div class="marketing__bloc-5_bg_text">
                <p>
                    Le Marketing d’influence reste un domaine nettement
                    confus aujourd'hui. Il consiste à déterminer à travers
                    des analyses, des influenceurs ayant grandi une forte
                    communauté qui leur démontre une confiance, qui seront
                    prescrit pour la promotion d’un produit ou d’un service.
                </p>
                <!-- <div class="center">
                    <a href="#" class="btn">Lire Plus</a>
                </div> -->
            </div>
        </div>
    </section>

    <section
        class="marketing__bloc-2 marketing__bloc-4"
        id="marketingaffiliation"
    >
        <div class="content marketing__bloc-2_bg">
            <h2>Marketing d’affiliation</h2>
            <p>
                Une stratégie qui permet à deux marques de profiter d’une
                activité l’une de l’autre. Elle comporte quatre (4) acteurs
                majeurs qui sont ; l’affilié, l’annonceur, le consommateur
                et la plateforme d’affiliation. Alors, quel qu'en soit votre
                position, nous vous suivrons dans vos projets d’affiliation
                afin de tirer bon profit des activités d’affiliation.
            </p>
        </div>
    </section>

    <section class="marketing__bloc-2 bg--3" id="marketingsem">
        <div class="content marketing__bloc-2_bg">
            <h2>Search Engine Marketing (SEM)</h2>
            <p>
                Le SEM représente des techniques visées à attirer plus de
                trafic organique sur votre site internet. Nous mettons à
                votre disposition des spécialistes pour augmenter la qualité
                et la quantité de trafic pour un meilleur classement sur les
                moteurs de recherches.
            </p>
            <!-- <div class="center">
                <a href="#" class="btn">Lire Plus</a>
            </div> -->
        </div>
    </section>

    <!-- -------------CONTACT-------------------------------- -->
    {% include "partials/contact.html" %}
    {% include "partials/mob-contact.html" %}
</main>

{% endblock %}
