<!-- photographie.html -->
{% set page_title = "Photographie" %} {% extends "layout.html" %} {% block
content %}

<main>
    <section class="sectionaudiovisuelslider">
        <div class="audiovisuelslider">
          
            <div class="audiovisuelslider__img audiovisuelslider__img1 shown">
                <p class="audiovisuelslider__text">Capturez vos meilleurs moments chez DigitalX Studio</p>
            </div>
            <div class="audiovisuelslider__img audiovisuelslider__img2 shown">
                <p class="audiovisuelslider__text">Capturez vos meilleurs moments chez DigitalX Studio</p>
            </div>
            <div class="audiovisuelslider__img audiovisuelslider__img3 shown">
                <p class="audiovisuelslider__text">Capturez vos meilleurs moments chez DigitalX Studio</p>
            </div>

           
            <!-- <img
                src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/photo/image4.png"
                alt="img3"
                class="audiovisuelslider__img"
            /> -->

            <div
                class="audiovisuelslider__manualbtn audiovisuelslider__manualbtn--preview"
            >
                <img
                    src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/photo/arrowleft.png"
                    alt=""
                />
            </div>
            <div
                class="audiovisuelslider__manualbtn audiovisuelslider__manualbtn--next"
            >
                <img
                    src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/photo/arrowright.png"
                    alt=""
                />
            </div>
        </div>
    </section>

    <section class="imggallery">
        <div class="imggallery__container containers">
            <img
                src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662898417/dx/images/Sites/photo/grid1.png"
                class="imggallery__img--one"
                alt=""
            />
            <img
                src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/photo/grid2.png"
                class="imggallery__img--two"
                alt=""
            />
            <img
                src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/photo/grid4.png"
                class="imggallery__img--three"
                alt=""
            />
            <img
                src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662898432/dx/images/Sites/photo/grid3.png"
                class="imggallery__img--four"
                alt=""
            />
            <img
                src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/photo/grid5.png"
                class="imggallery__img--five"
                alt=""
            />
            <img
                src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/photo/grid6.png"
                class="imggallery__img--six"
                alt=""
            />
        </div>
    </section>

    <section class="photographiegrid ">
        <div class="photographiegrid__container containers photographiegrid1">
            <div class="photographiegrid__text">
                <p class="audiovisuel__paragraph">
                    S’il n’y a pas d’émotion, s’il n’y a pas un choc, si on ne
                    réagit pas à la sensibilité, on ne doit pas prendre de
                    photo. C’est la photo qui nous prend. – Henri
                    Cartier-Bresson S’il n’y a pas d’émotion, s’il n’y a pas un
                    choc, si on ne réagit pas à la sensibilité, on ne doit pas
                    prendre de photo. C’est la photo qui nous prend. – Henri
                    Cartier-Bresson
                </p>
                <a href="contact.html" class="btn__second btn__second--blue"
                    >CONTACTEZ-NOUS</a
                >
            </div>
            <img
                src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/photo/catherine2.jpg"
                alt="photo de catherine"
                class="photographiegrid__img"
            />
            <div class="photographiegrid__link">
                <a href="contact.html" class="btn__second btn__second--blue"
                    >CONTACTEZ-NOUS</a
                >
            </div>
        </div>
    </section>

    <section class="captureimage">
        <div class="captureimage__container containers">
            <h1 class="audiovisuel__title">
                Bien plus qu'une photo, un souvenir
            </h1>
            <img
                src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1666711979/dx/images/Sites/photo/blocsouvenir.png"
                alt=""
            />
        </div>
    </section>

    <section class="shootingsection">
        <div class="shootingsection__content containers">
            <div class="shootingsection__container ">
                <div class="shootingsection__text">
                    <p class="shootingsection__text--first">Realisez vos</p>
                    <p class="shootingsection__text--second">SHOOTING</p>
                    <p class="shootingsection__text--third">in-door</p>
                </div>
                <a href="contact.html" class="btn__second btn__second--blue"
                    >CONTACTEZ-NOUS</a
                >
            </div>
        </div>
    </section>

    <section class="photographiegrid">
        <div class="photographiegrid__container containers no-center">
            <!-- <img
                
                alt="photo de catherine"
                class="photographiegrid__img"
            /> -->
            <div class="composition">
                <img src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1666859375/dx/images/Sites/photo/camera1.png" alt="camera1" class="composition__photo composition__photo--p1" />
                <img src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1666859375/dx/images/Sites/photo/camera2.png" alt="camera2" class="composition__photo composition__photo--p2" />
                <img src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1666859375/dx/images/Sites/photo/camera3.png" alt="camera3" class="composition__photo composition__photo--p3" />
            </div>
            <div class="photographiegrid__text">
                <h1 class="audiovisuel__subtitle">Production audiovisuel</h1>
                <p class="audiovisuel__paragraph">
                    L'être humain est plus attiré par ce qu’il voit et ce qu’il
                    entend, ces éléments lui permettent de vivre l’instant que
                    vous lui transmettez de façon à le graver dans sa mémoire. Alors
                    profitez-en au maximum pour atteindre votre objectif.
                </p>
                <a href="contact.html" class="btn__second btn__second--blue"
                    >CONTACTEZ-NOUS</a
                >
            </div>
            <div class="photographiegrid__link center">
                <a href="contact.html" class="btn__second btn__second--blue "
                    >CONTACTEZ-NOUS</a
                >
            </div>
        </div>
    </section>

    <section class="description">
        <div class="description__content containers">
            <!-- <h2>Lorem ipsum dolor sit amet, consectetur</h2> -->
            <p>
                Une photo doit raconter une histoire à travers ce qu'elle
                renvoie, alors toi aussi viens raconter ton histoire à <b>DigitalX</b>
            </p>
            <a href="contact.html" class="btn__second btn__second--blue"
                >CONTACTEZ-NOUS</a
            >
        </div>
    </section>

    <section class="photographiegrid">
        <div class="photographiegrid__container containers gap-1">
            <div class="photographiegrid__text">
                <h1 class="audiovisuel__subtitle">Couverture médiatique</h1>
                <p class="audiovisuel__paragraph">
                    Vous, entreprises ou particuliers désirant atteindre vos
                    objectifs en marketing évènementiel et transformer votre
                    marque en une entreprise fiable, il vous faut obtenir une
                    couverture médiatique. Cela ne signifie pas automatiquement
                    que vous allez gagner un fort taux de présence mais en
                    utilisant les bonnes techniques, vous pouvez tirer profit
                    des actualités et ramener les faits autour de vous.
                    Ingénieux pas vrai ? ca m'interesse
                </p>
                <a href="contact.html" class="btn__second btn__second--blue"
                    >CONTACTEZ-NOUS</a
                >
            </div>

            <img
                src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1666768297/dx/images/Sites/photo/BLOCCOUVERTUREMEDIATIQ.png"
                alt="photo de catherine"
                class="photographiegrid3__img"
            />

            <div class="photographiegrid__link">
                <a href="contact.html" class="btn__second btn__second--blue"
                    >CONTACTEZ-NOUS</a
                >
            </div>
        </div>
    </section>

    <section class="photographiegrid pb-4">
        <div class="photographiegrid__container containers gap-1">
            <img
                src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1666773527/dx/images/Sites/photo/blocart.png"
                alt="photo de catherine"
                class="photographiegrid4__img"
            />
            <div class="photographiegrid__text">
                <h1 class="audiovisuel__subtitle">La photographie, un art</h1>
                <p class="audiovisuel__paragraph">
                    La photographie est en permanente évolution, c’est tout un
                    art de savoir capturer le monde qui nous entoure en
                    respectant les techniques propres à la photographie. En gros
                    mélanger la technique plus la beauté.
                </p>
                <a href="contact.html" class="btn__second btn__second--blue"
                    >CONTACTEZ-NOUS</a
                >
            </div>
        </div>
    </section>

    <!-- <section class="test">
       <div></div>
       <div></div>
       <div></div>
       <div></div>
       <div></div>
       <div></div>
    </section> -->

    <section class="imggallery2">
        <div class="imggallery2__container containers">
            <div class="imggallery2__img--one"></div>
            <div class="imggallery2__img--two"></div>
            <div class="imggallery2__img--three"></div>
            <div class="imggallery2__img--four"></div>
            <div class="imggallery2__img--five"></div>
            <div class="imggallery2__img--six"></div>
            <div class="imggallery2__img--sept"></div>
            <div class="imggallery2__img--huit"></div>
            <div class="imggallery2__img--neuf"></div>
            <div class="imggallery2__img--dix"></div>
            <div class="imggallery2__img--onze"></div>
            <div class="imggallery2__img--douze"></div>
            <div class="imggallery2__img--treize"></div>
            <div class="imggallery2__img--quatorze"></div>
            <div class="imggallery2__img--quinze"></div>
            <div class="imggallery2__img--seize"></div>
            <div class="imggallery2__img--dixsept"></div>
        </div>

        <div class="imagegallery2b__container containers">
            <img
                src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/photo/grid21.png"
                class="imggallery2b__img--one"
                alt=""
            />
            <img
                src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/photo/grid22.png"
                class="imggallery2b__img--two"
                alt=""
            />
            <img
                src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/photo/grid23.png"
                class="imggallery2b__img--three"
                alt=""
            />
            <!-- <img
                src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/photo/grid24.png"
                class="imggallery2b__img--four"
                alt=""
            /> -->
            <img
                src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/photo/grid25.png"
                class="imggallery2b__img--five"
                alt=""
            />
            <img
                src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/photo/grid26.png"
                class="imggallery2b__img--six"
                alt=""
            />
            <!-- <img
                src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/photo/grid27.png"
                class="imggallery2b__img--sept"
                alt=""
            /> -->
            <img
                src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/photo/grid28.png"
                class="imggallery2b__img--huit"
                alt=""
            />
            <!-- <img
                src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/photo/grid29.png"
                class="imggallery2b__img--neuf"
                alt=""
            /> -->
            <img
                src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/photo/grid2-10.png"
                class="imggallery2b__img--dix"
                alt=""
            />
            <!-- <img
                src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/photo/grid2-11.png"
                class="imggallery2b__img--onze"
                alt=""
            /> -->
            <!-- <img
                src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1663752230/dx/images/Sites/photo/grid2-12.jpg"
                class="imggallery2b__img--douze"
                alt=""
            /> -->
            <!-- <img
                src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/photo/grid2-13.jpg"
                class="imggallery2b__img--treize"
                alt=""
            /> -->
            <!-- <img
                src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/photo/grid2-14.jpg"
                class="imggallery2b__img--quatorze"
                alt=""
            /> -->
            <!-- <img
                src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/photo/grid2-15.jpg"
                class="imggallery2b__img--quinze"
                alt=""
            /> -->
            <!-- <img
                src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/photo/grid2-16.jpg"
                class="imggallery2b__img--seize"
                alt=""
            /> -->
            <img
                src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/photo/grid2-17.jpg"
                class="imggallery2b__img--dixsept"
                alt=""
            />
        </div>
    </section>

    <!-- -------------CONTACT-------------------------------- -->
    {% include "partials/contact.html" %} {% include "partials/mob-contact.html"
    %}

    <script>
        let imgslider = document.querySelectorAll(
            '.audiovisuelslider__img'
        );

        let etape = 0;

        let nbrimg = imgslider.length;

        let precedent = document.querySelector(
            '.audiovisuelslider__manualbtn--preview'
        );
        let suivant = document.querySelector(
            '.audiovisuelslider__manualbtn--next'
        );

        function enleverActiveImages() {
            for (let i = 0; i < nbrimg; i++) {
                imgslider[i].classList.remove('shown');
            }
        }

        suivant.addEventListener('click', function () {
            etape++;
            if (etape >= nbrimg) {
                etape = 0;
            }
            enleverActiveImages();
            imgslider[etape].classList.add('shown');
        });

        precedent.addEventListener('click', function () {
            etape--;
            if (etape < 0) {
                etape = nbrimg - 1;
            }
            enleverActiveImages();
            imgslider[etape].classList.add('shown');
        });

        setInterval(function () {
            etape++;
            if (etape >= nbrimg) {
                etape = 0;
            }
            enleverActiveImages();
            imgslider[etape].classList.add('shown');
        }, 5000);
    </script>
</main>

{% endblock %}
