<!-- photographie.html -->
{% set page_title = "Photographie" %} {% extends "layout.html" %} {% block
content %}

<main>
    <section class="sectionaudiovisuelslider">
        <div class="audiovisuelslider">
            <img
                src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1663843628/dx/images/Sites/photo/audioslide1.jpg"
                alt="img1"
                class="audiovisuelslider__img shown"
            />

            <img
                src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1663843628/dx/images/Sites/photo/audioslide2.jpg"
                alt="img2"
                class="audiovisuelslider__img"
            />
            <img
                src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1663843628/dx/images/Sites/photo/audioslide3.jpg"
                alt="img3"
                class="audiovisuelslider__img"
            />
            <!-- <img
                src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/photo/image4.png"
                alt="img3"
                class="audiovisuelslider__img"
            /> -->

            <div
                class="audiovisuelslider__manualbtn audiovisuelslider__manualbtn--preview"
            >
                <img
                    src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/photo/arrowleft.png"
                    alt=""
                />
            </div>
            <div
                class="audiovisuelslider__manualbtn audiovisuelslider__manualbtn--next"
            >
                <img
                    src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/photo/arrowright.png"
                    alt=""
                />
            </div>
        </div>
    </section>

    <section class="imggallery">
        <div class="imggallery__container containers">
            <img
                src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/photo/grid1.png"
                class="imggallery__img--one"
                alt=""
            />
            <img
                src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/photo/grid2.png"
                class="imggallery__img--two"
                alt=""
            />
            <img
                src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/photo/grid4.png"
                class="imggallery__img--three"
                alt=""
            />
            <img
                src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/photo/grid3.png"
                class="imggallery__img--four"
                alt=""
            />
            <img
                src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/photo/grid5.png"
                class="imggallery__img--five"
                alt=""
            />
            <img
                src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/photo/grid6.png"
                class="imggallery__img--six"
                alt=""
            />
        </div>
    </section>

    <section class="photographiegrid">
        <div class="photographiegrid__container containers">
            <div class="photographiegrid__text">
                <p class="audiovisuel__paragraph">
                    S’il n’y a pas d’émotion, s’il n’y a pas un choc, si on ne
                    réagit pas à la sensibilité, on ne doit pas prendre de
                    photo. C’est la photo qui nous prend. – Henri
                    Cartier-Bresson S’il n’y a pas d’émotion, s’il n’y a pas un
                    choc, si on ne réagit pas à la sensibilité, on ne doit pas
                    prendre de photo. C’est la photo qui nous prend. – Henri
                    Cartier-Bresson
                </p>
                <a href="contact.html" class="btn__second btn__second--blue"
                    >CONTACTEZ-NOUS</a
                >
            </div>
            <img
                src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/photo/catherine2.jpg"
                alt="photo de catherine"
                class="photographiegrid__img"
            />
            <div class="photographiegrid__link">
                <a href="contact.html" class="btn__second btn__second--blue"
                    >CONTACTEZ-NOUS</a
                >
            </div>
        </div>
    </section>

    <section class="captureimage">
        <div class="captureimage__container containers">
            <h1 class="audiovisuel__title">What if you capture the moment</h1>
            <img
                src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/photo/imagegrid.png"
                alt=""
            />
        </div>
    </section>

    <section class="shootingsection">
        <div class="shootingsection__content">
            <div class="shootingsection__container containers">
                <div class="shootingsection__text">
                    <p class="shootingsection__text--first">Realisez vos</p>
                    <p class="shootingsection__text--second">SHOOTING</p>
                    <p class="shootingsection__text--third">in-door</p>
                </div>
                <a href="contact.html" class="btn__second btn__second--blue"
                    >CONTACTEZ-NOUS</a
                >
            </div>
        </div>
    </section>

    <section class="photographiegrid">
        <div class="photographiegrid__container containers">
            <img
                src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/photo/camera.png"
                alt="photo de catherine"
                class="photographiegrid__img"
            />
            <div class="photographiegrid__text">
                <h1 class="audiovisuel__subtitle">
                    Immortalisez vos meilleurs moments
                </h1>
                <p class="audiovisuel__paragraph">
                    S’il n’y a pas d’émotion, s’il n’y a pas un choc, si on ne
                    réagit pas à la sensibilité, on ne doit pas prendre de
                    photo. C’est la photo qui nous prend. – Henri
                    Cartier-Bresson
                </p>
                <a href="contact.html" class="btn__second btn__second--blue"
                    >CONTACTEZ-NOUS</a
                >
            </div>
            <div class="photographiegrid__link">
                <a href="contact.html" class="btn__second btn__second--blue"
                    >CONTACTEZ-NOUS</a
                >
            </div>
        </div>
    </section>

    <section class="description">
        <div class="description__content containers">
            <h2>Lorem ipsum dolor sit amet, consectetur</h2>
            <p>
                "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                sunt in culpa qui officia deserunt mollit anim id est laborum."
            </p>
        </div>
    </section>

    <section class="photographiegrid">
        <div class="photographiegrid__container containers gap-1">
            <div class="photographiegrid__text">
                <h1 class="audiovisuel__subtitle">Produit de montage adobe</h1>
                <p class="audiovisuel__paragraph">
                    S’il n’y a pas d’émotion, s’il n’y a pas un choc, si on ne
                    réagit pas à la sensibilité, on ne doit pas prendre de
                    photo. C’est la photo qui nous prend. – Henri
                    Cartier-Bresson
                </p>
                <a href="contact.html" class="btn__second btn__second--blue"
                    >CONTACTEZ-NOUS</a
                >
            </div>

            <img
                src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/photo/produitadobe.png"
                alt="photo de catherine"
                class="photographiegrid3__img"
            />

            <div class="photographiegrid__link">
                <a href="contact.html" class="btn__second btn__second--blue"
                    >CONTACTEZ-NOUS</a
                >
            </div>
        </div>
    </section>

    <section class="photographiegrid pb-4">
        <div class="photographiegrid__container containers gap-1">
            <img
                src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/photo/imagrid2.png"
                alt="photo de catherine"
                class="photographiegrid4__img"
            />
            <div class="photographiegrid__text">
                <h1 class="audiovisuel__subtitle">
                    Faites Nous Confiance pour couvrir vos evenements
                </h1>
                <p class="audiovisuel__paragraph">
                    S’il n’y a pas d’émotion, s’il n’y a pas un choc, si on ne
                    réagit pas à la sensibilité, on ne doit pas prendre de
                    photo. C’est la photo qui nous prend. – Henri
                    Cartier-Bresson
                </p>
                <a href="contact.html" class="btn__second btn__second--blue"
                    >CONTACTEZ-NOUS</a
                >
            </div>
        </div>
    </section>

    <section class="imggallery2">
        <div class="imggallery2__container containers">
            <img
                src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/photo/grid21.png"
                class="imggallery2__img--one"
                alt=""
            />
            <img
                src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/photo/grid22.png"
                class="imggallery2__img--two"
                alt=""
            />
            <img
                src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/photo/grid23.png"
                class="imggallery2__img--three"
                alt=""
            />
            <img
                src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/photo/grid24.png"
                class="imggallery2__img--four"
                alt=""
            />
            <img
                src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/photo/grid25.png"
                class="imggallery2__img--five"
                alt=""
            />
            <img
                src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/photo/grid26.png"
                class="imggallery2__img--six"
                alt=""
            />
            <img
                src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/photo/grid27.png"
                class="imggallery2__img--sept"
                alt=""
            />
            <img
                src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/photo/grid28.png"
                class="imggallery2__img--huit"
                alt=""
            />
            <img
                src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/photo/grid29.png"
                class="imggallery2__img--neuf"
                alt=""
            />
            <img
                src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/photo/grid2-10.png"
                class="imggallery2__img--dix"
                alt=""
            />
            <img
                src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/photo/grid2-11.png"
                class="imggallery2__img--onze"
                alt=""
            />
            <img
                src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1663752230/dx/images/Sites/photo/grid2-12.jpg"
                class="imggallery2__img--douze"
                alt=""
            />
            <img
                src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/photo/grid2-13.jpg"
                class="imggallery2__img--treize"
                alt=""
            />
            <img
                src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/photo/grid2-14.jpg"
                class="imggallery2__img--quatorze"
                alt=""
            />
            <img
                src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/photo/grid2-15.jpg"
                class="imggallery2__img--quinze"
                alt=""
            />
            <img
                src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/photo/grid2-16.jpg"
                class="imggallery2__img--seize"
                alt=""
            />
            <img
                src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/photo/grid2-17.jpg"
                class="imggallery2__img--dixsept"
                alt=""
            />
        </div>
    </section>

    <!-- -------------CONTACT-------------------------------- -->
    {% include "partials/contact.html" %} {% include "partials/mob-contact.html"
    %}

    <script>
        let imgslider = document.getElementsByClassName(
            'audiovisuelslider__img'
        );

        let etape = 0;

        let nbrimg = imgslider.length;

        let precedent = document.querySelector(
            '.audiovisuelslider__manualbtn--preview'
        );
        let suivant = document.querySelector(
            '.audiovisuelslider__manualbtn--next'
        );

        function enleverActiveImages() {
            for (let i = 0; i < nbrimg; i++) {
                imgslider[i].classList.remove('shown');
            }
        }

        suivant.addEventListener('click', function () {
            etape++;
            if (etape >= nbrimg) {
                etape = 0;
            }
            enleverActiveImages();
            imgslider[etape].classList.add('shown');
        });

        precedent.addEventListener('click', function () {
            etape--;
            if (etape < 0) {
                etape = nbrimg - 1;
            }
            enleverActiveImages();
            imgslider[etape].classList.add('shown');
        });

        setInterval(function () {
            etape++;
            if (etape >= nbrimg) {
                etape = 0;
            }
            enleverActiveImages();
            imgslider[etape].classList.add('shown');
        }, 3000);
    </script>
</main>

{% endblock %}
