<!-- portfolio.html -->
{% set page_title = "Photographie" %} {% extends "layout.html" %} {% block
content %}

<main class="portfolio">

    <section class="portfoliogrid ">
        <div class="grid-container" id="grid-container">
            <div class="item item1"><img src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1663931815/dx/images/Sites/portfolio/a.png" alt=""></div>
            <div class="item item2"><img src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1663931815/dx/images/Sites/portfolio/b.png" alt=""></div>
            <div class="item item3"><img src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1663931815/dx/images/Sites/portfolio/10.png" alt=""></div>
            <div class="item item4"><img src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1663931815/dx/images/Sites/portfolio/l.png" alt=""></div>
            <div class="item item5"><img src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1663931815/dx/images/Sites/portfolio/o.png" alt=""></div>
            <div class="item item6"><img src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1663931815/dx/images/Sites/portfolio/p.png" alt=""></div>
            <div class="item item7"><img src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1663931815/dx/images/Sites/portfolio/q.png" alt=""></div>
            <div class="item item46"><img src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1663931815/dx/images/Sites/portfolio/u.png" alt=""></div>
            <div class="item item8"><img src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1663931815/dx/images/Sites/portfolio/c.png" alt=""></div>
            <div class="item item9"><img src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1663931815/dx/images/Sites/portfolio/11.png" alt=""></div>
            
            <div class="item item10">
                <div class="item"><img src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1663931815/dx/images/Sites/portfolio/i.png" alt=""></div>
                <div class="item"><img src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1663931815/dx/images/Sites/portfolio/k.png" alt=""></div>
            </div>
            
            <div class="item item12"><img src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1663931815/dx/images/Sites/portfolio/j.png" alt=""></div>
            <div class="item item33"><h1>Portfolio</h1></div>
            <div class="item item13"><img src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1663931815/dx/images/Sites/portfolio/m.png" alt=""></div>
            <div class="item item15"><img src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1663931815/dx/images/Sites/portfolio/1.png" alt=""></div>
            <div class="item item16"><img src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1663931815/dx/images/Sites/portfolio/2.png" alt=""></div>
            <div class="item item14"><img src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1663931815/dx/images/Sites/portfolio/n.png" alt=""></div>
            <div class="item item17"><img src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1663931815/dx/images/Sites/portfolio/s.png" alt=""></div>
            <div class="item item18"><img src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1663931815/dx/images/Sites/portfolio/r.png" alt=""></div>
            <div class="item item19"><img src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1663931815/dx/images/Sites/portfolio/d.png" alt=""></div>
            <div class="item item20"><img src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1663931815/dx/images/Sites/portfolio/e.png" alt=""></div>
            <div class="item item21"><img src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1663931815/dx/images/Sites/portfolio/f.png" alt=""></div>
            <div class="item item22"><img src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1663931815/dx/images/Sites/portfolio/15.png" alt=""></div>
            <div class="item item23"><img src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1663931815/dx/images/Sites/portfolio/3.png" alt=""></div>
            <div class="item item24"><img src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1663931815/dx/images/Sites/portfolio/14.png" alt=""></div>
            <div class="item item25">
                <div class="item item26"><img src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1663931815/dx/images/Sites/portfolio/o.png" alt=""></div>
                <div class="item item27"><img src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1663931815/dx/images/Sites/portfolio/6.png" alt=""></div> 
                <div class="item item29"><img src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1663931815/dx/images/Sites/portfolio/5.png" alt=""></div>    
                <div class="item item28"><img src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1663931815/dx/images/Sites/portfolio/d.png" alt=""></div>
            </div>
            
            <div class="item item32"><img src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1663931815/dx/images/Sites/portfolio/u.png" alt=""></div>    
            <div class="item item39"><img src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1663931815/dx/images/Sites/portfolio/v.png" alt=""></div>
            <div class="item item34"><img src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1663931815/dx/images/Sites/portfolio/1.png" alt=""></div>
            <div class="item item40"><img src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1663931815/dx/images/Sites/portfolio/z.png" alt=""></div>
            <div class="item item41"><img src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1663931815/dx/images/Sites/portfolio/g.png" alt=""></div>
            <div class="item item42"><img src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1663931815/dx/images/Sites/portfolio/h.png" alt=""></div>
            <div class="item item43"><img src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1663931815/dx/images/Sites/portfolio/16.png" alt=""></div>
            <div class="item item44"><img src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1663931815/dx/images/Sites/portfolio/t.png" alt=""></div>
            <div class="item item45"><img src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1663931815/dx/images/Sites/portfolio/w.png" alt=""></div>
        </div>            
    </section>

    <section class="portfoliobarre" id="grid-invisible">        
        <div class="portfoliobarre__elts" >
            <div class="contents">
                <input type="radio" name="slider" checked id="design">
		        <input type="radio" name="slider" id="video">
		        <input type="radio" name="slider" id="Photographie">
            
                <div class="portfoliobarre__elts_barre">
                    <label for="design" class="design"><h4>DESIGN GRAPHIQUE</h4></label>
                    <label for="Photographie" class="Photographie"><h4>PHOTOGRAPHIE</h4></label>
                    <label for="video" class="video"><h4>VIDEOGRAPHY</h4></label>
                </div>

                <div class="portfoliobarre__elts_list">
                    <div class="image Photographie">
                        <div class="imggallery2__container containers">
                            <img src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/photo/grid21.png" class="imggallery2__img--one" alt="">
                            <img src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/photo/grid22.png" class="imggallery2__img--two" alt="">
                            <img src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/photo/grid23.png" class="imggallery2__img--three" alt="">
                            <img src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/photo/grid24.png" class="imggallery2__img--four" alt="">
                            <img src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/photo/grid25.png" class="imggallery2__img--five" alt="">
                            <img src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/photo/grid26.png" class="imggallery2__img--six" alt="">
                            <img src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/photo/grid27.png" class="imggallery2__img--sept" alt="">
                            <img src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/photo/grid28.png" class="imggallery2__img--huit" alt="">
                            <img src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/photo/grid29.png" class="imggallery2__img--neuf" alt="">
                            <img src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/photo/grid2-10.png" class="imggallery2__img--dix" alt="">
                            <img src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/photo/grid2-11.png" class="imggallery2__img--onze" alt="">
                            <img src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1663752230/dx/images/Sites/photo/grid2-12.jpg" class="imggallery2__img--douze" alt="">
                            <img src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/photo/grid2-13.jpg" class="imggallery2__img--treize" alt="">
                            <img src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/photo/grid2-14.jpg" class="imggallery2__img--quatorze" alt="">
                            <img src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/photo/grid2-15.jpg" class="imggallery2__img--quinze" alt="">
                            <img src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/photo/grid2-16.jpg" class="imggallery2__img--seize" alt="">
                            <img src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/Sites/photo/grid2-17.jpg" class="imggallery2__img--dixsept" alt="">
                        </div>
                    </div>
                    <div class="image video">
                        <div class="containers center">
                            <iframe src="https://www.youtube.com/embed/PW40_tFjbUA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            <iframe src="https://www.youtube.com/embed/9t-KRRw81k8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            <iframe src="https://www.youtube.com/embed/0vRHiGxxv-8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="image design">
                        <div class="img_gallery containers">
                            <div class="img1"><img src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1663931815/dx/images/Sites/portfolio/e.png" alt=""></div>
                            <div class="img2"><img src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1663931815/dx/images/Sites/portfolio/l.png" alt=""></div>
                            <div class="img3"><img src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1663931815/dx/images/Sites/portfolio/11.png" alt=""></div>
                            <div class="img4"><img src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1663931815/dx/images/Sites/portfolio/3.png" alt=""></div>
                            <div class="img5"><img src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1663931815/dx/images/Sites/portfolio/j.png" alt=""></div>
                            <div class="img6"><img src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1663931815/dx/images/Sites/portfolio/f.png" alt=""></div>
                            <div class="img7"><img src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1663931815/dx/images/Sites/portfolio/m.png" alt=""></div>
                            <div class="img8"><img src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1663931815/dx/images/Sites/portfolio/5.png" alt=""></div>
                            <div class="img9"><img src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1663936109/dx/images/Sites/portfolio/12.png" alt=""></div>
                            <div class="img10"><img src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1664451651/dx/images/Sites/portfolio/red.png" alt=""></div>
                            <div class="img11"><img src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662898314/dx/images/Sites/Blog/Marketing-dinfluence.png" alt=""></div>
                            <div class="img12"><img src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1663931816/dx/images/Sites/portfolio/o.png" alt=""></div>
                            <div class="img13"><img src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1663932218/dx/images/Sites/portfolio/7.png" alt=""></div>
                            <div class="img14"><img src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1663931817/dx/images/Sites/portfolio/u.png" alt=""></div>
                            <div class="img15"><img src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1663931815/dx/images/Sites/portfolio/h.png" alt=""></div>
                            <div class="img16"><img src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1663932218/dx/images/Sites/portfolio/8.png" alt=""></div>
                            <div class="img16"><img src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1663931817/dx/images/Sites/portfolio/z.png" alt=""></div>
                            <div class="img17"><img src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1663931816/dx/images/Sites/portfolio/l.png" alt=""></div>
                            <div class="img18"><img src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1663932218/dx/images/Sites/portfolio/9.png" alt=""></div>
                            
                        </div>
                    </div>				
                </div>

            </div>
        </div>
    </section>
<script>
    function scrollHeader() {
    const reveal = document.getElementById('grid-container');
    const visible = document.getElementById('grid-invisible');
    if (this.scrollY >= 20) reveal.classList.add('revealy');
    else reveal.classList.remove('revealy');
    if (this.scrollY >= 4) visible.classList.add('reveal-visible');
    else visible.classList.remove('reveal-visible');
    }
    window.addEventListener('scroll', scrollHeader);
</script>
    
    <!-- -------------CONTACT-------------------------------- -->
    {% include "partials/contact.html" %} {% include "partials/mob-contact.html"
    %}
</main>

{% endblock %}