<section class="section_contact">
  <div class="ecran_bloc">
    <div class="content__title content__title--black">
      <h1>Contactez-Nous</h1>
      <p>
        VOS INFORMATIONS NOUS PERMETTRONT DE MIEUX VOUS
        CONNAÎTRE.
      </p>
    </div>
    <div class="contact__ecran container">
      <div class="contact__ecran_1">
        <p class="contact__ecran_1__subtitle">
          Envoyez nous un message
        </p>
        <p class="contact__ecran_1__desc">
          Envoyez nous un message et nous allons repondre
          en 24 heures
        </p>

        <form id="contactForm" class="contact__ecran_1__form">
          <div class="contact__ecran_1__form_content">
            <label for="nom">Nom complet</label>
            <input
                type="text"
                id="nom"
                name="nom"
                placeholder="Entrez votre nom complet"
                required
            />
          </div>

          <div class="contact__ecran_1__form_content">
            <label for="email">Email</label>
            <input
                type="email"
                id="email"
                name="email"
                placeholder="Ecrivez votre mail ici"
                required
            />
          </div>

          <div class="contact__ecran_1__form_content">
            <label for="telephone">Téléphone</label>
            <div class="contact1__content drapeau">
              <img
                  src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/contact/drapeau.png"
                  alt="icône d'un drapeau"
              />
              <input
                  type="tel"
                  id="telephone"
                  name="telephone"
                  placeholder="Numero de téléphone"
              />
            </div>
          </div>

          <div class="contact__ecran_1__form_content">
            <label for="organisation">Organisation</label>
            <input
                type="text"
                id="organisation"
                name="organisation"
                placeholder="Nom de l’organisation"
                required
            />
          </div>

          <div
              class="contact__ecran_1__form_content message"
          >
                            <textarea
                                id="message"
                                name="message"
                                cols="30"
                                rows="10"
                                placeholder="Entrez votre message ici"
                            ></textarea>
          </div>
          <div></div>
          <div class="end">
            <a onclick="submit()" class="btn">Envoyez</a>
          </div>
        </form>
      </div>
      <div class="contact__ecran_2">
        <p class="contact__ecran_2_subtitle">
          Detail du contact
        </p>
        <div class="contact__ecran_2_infos">
          <div class="contact__ecran_2_infos_1">
            <img
                src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/contact/location.png"
                alt="localisation"
            />
            <p>Kotto Rue des châteaux</p>
          </div>
          <div class="contact__ecran_2_infos_1">
            <img
                src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/contact/mail.png"
                alt="sms"
            />
            <p>
              <a href="mailto:info@digital-x-sarl.com"
              >info@digital-x-sarl.com</a
              >
            </p>
          </div>
          <div class="contact__ecran_2_infos_1">
            <img
                src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/contact/call.png"
                alt="call"
            />
            <p>680974148-676930245 (WhatsApp)</p>
          </div>
          <div class="contact__ecran_2_infos_1">
            <img
                src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/contact/clock.png"
                alt="clock"
            />
            <p>Du lundi au vendredi (8h - 17h)</p>
          </div>
        </div>
        <div class="contact__ecran_2_link">
          <a href="https://www.facebook.com/digitalxsarl"
          ><img
              src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/footer/Vector.png"
              alt=""
          /></a>
          <a href="https://www.instagram.com/digitalxsarl/"
          ><img
              src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/footer/instagram.png"
              alt=""
          /></a>
          <a href="https://www.linkedin.com/company/digital-x-sarl/"
          ><img
              src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/footer/linkdin.png"
              alt=""
          /></a>
          <a href="https://twitter.com/digitalxsarl"
          ><img
              src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/footer/Group_109.png"
              alt=""
          /></a>
          
          <a href="https://www.youtube.com/channel/UCGLGjzLsbqAT2oFdEBNjyAA"
          ><img
              src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/footer/Group.png"
              alt=""
          /></a>
        </div>
      </div>
    </div>
  </div>
</section>
