<footer class="footer">
    <div class="footerfirstpart">
        <div class="grid-2-colss footerfirstpart__container">
            <div class="footerfirstpart__content nones">
                <h2 class="footerfirstpart__title">Design Graphique</h2>
                <ul class="footerfirstpart__list">
                    <li>
                        <a href="#" class="footerfirstpart__link"
                            >UI et UX Design
                        </a>
                        <div class="bar"></div>
                    </li>
                    <li>
                        <a href="#" class="footerfirstpart__link"
                            >Graphic Design
                        </a>
                        <div class="bar"></div>
                    </li>
                    <li>
                        <a href="#" class="footerfirstpart__link"
                            >Video Production
                        </a>
                        <div class="bar"></div>
                    </li>
                    <li>
                        <a href="#" class="footerfirstpart__link"
                            >Web Design
                        </a>
                        <div class="bar"></div>
                    </li>
                </ul>
            </div>

            <div class="footerfirstpart__content">
                <h2 class="footerfirstpart__title">Développement</h2>
                <ul class="footerfirstpart__list">
                    <li>
                        <a
                            href="development/dev.html"
                            class="footerfirstpart__link"
                            >Développement web
                        </a>
                        <div class="bar"></div>
                    </li>

                    <li>
                        <a
                            href="development/dev.html"
                            class="footerfirstpart__link"
                            >Développement mobile
                        </a>
                        <div class="bar"></div>
                    </li>
                    <li>
                        <a
                            href="development/dev.html"
                            class="footerfirstpart__link"
                            >Ecommerce
                        </a>
                        <div class="bar"></div>
                    </li>
                </ul>
            </div>

            <div class="footerfirstpart__content">
                <h2 class="footerfirstpart__title">Marketing</h2>
                <ul class="footerfirstpart__list">
                    <li>
                        <a
                            href="marketing/marketing.html"
                            class="footerfirstpart__link"
                            >Marketing de contenu
                        </a>
                        <div class="bar"></div>
                    </li>
                    <li>
                        <a
                            href="marketing/marketing.html"
                            class="footerfirstpart__link"
                            >Marketing de réseaux sociaux
                        </a>
                        <div class="bar"></div>
                    </li>
                    <li>
                        <a
                            href="marketing/marketing.html"
                            class="footerfirstpart__link"
                            >Marketing d'email
                        </a>
                        <div class="bar"></div>
                    </li>
                    <li>
                        <a
                            href="marketing/marketing.html"
                            class="footerfirstpart__link"
                            >Marketing audiovisuel
                        </a>
                        <div class="bar"></div>
                    </li>
                    <li>
                        <a
                            href="marketing/marketing.html"
                            class="footerfirstpart__link"
                            >Marketing d'influence
                        </a>
                        <div class="bar"></div>
                    </li>
                    <li>
                        <a
                            href="marketing/marketing.html"
                            class="footerfirstpart__link"
                            >Marketing d'affiliation
                        </a>
                        <div class="bar"></div>
                    </li>
                    <li>
                        <a
                            href="marketing/marketing.html"
                            class="footerfirstpart__link"
                            >Référencement
                        </a>
                        <div class="bar"></div>
                    </li>
                </ul>
            </div>

            <div class="footerfirstpart__content">
                <h2 class="footerfirstpart__title">Audiovisuel</h2>
                <ul class="footerfirstpart__list">
                    <li>
                        <a
                            href="photographie.html"
                            class="footerfirstpart__link"
                            >Photographie
                        </a>
                        <div class="bar"></div>
                    </li>
                    <li>
                        <a
                            href="photographie.html"
                            class="footerfirstpart__link"
                            >Couverture médiatique
                        </a>
                        <div class="bar"></div>
                    </li>
                    <li>
                        <a
                            href="photographie.html"
                            class="footerfirstpart__link"
                            >Shooting
                        </a>
                        <div class="bar"></div>
                    </li>
                    <li>
                        <a
                            href="photographie.html"
                            class="footerfirstpart__link"
                            >Production audiovisuelle
                        </a>
                        <div class="bar"></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footersecondpart">
        <a href="https://www.facebook.com/digitalxsarl">
            <img
                src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/development/logofacebook.png"
                alt=""
            />
        </a>
        <a href="https://www.instagram.com/digitalxsarl/">
            <img
                src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/development/Instagram.png"
                alt=""
            />
        </a>
        <a href="https://www.youtube.com/channel/UCGLGjzLsbqAT2oFdEBNjyAA">
            <img
                src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/development/youtube.png"
                alt=""
            />
        </a>
        <a
            href="https://twitter.com/digitalxsarl/status/1533760611959549954?s=20&t=Xphuf3jGBXBlLofQL9AtCQ"
        >
            <img
                src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/development/twitter.png"
                alt=""
            />
        </a>
        <a href="https://www.linkedin.com/company/86256103/admin/">
            <img
                src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/development/linkedin.png"
                alt=""
            />
        </a>
    </div>
    <div class="footercopyright">
        <p class="footercopyright__text">Copyright : 2022 DIGITAL X SARL</p>
    </div>
</footer>
