<header class="header" id="header">
    <div class="header__container">
        <a href="index.html" class="header__linkimg"
            ><img
                src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/menu/Logo.png"
                alt="logo de DX"
                class="header__logo"
        /></a>
        <nav class="header__nav">
            <div class="menu__head">
                <div class="header__retourarriere">
                    <img
                        src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/menu/back.png"
                        alt="icone back arrow"
                    />
                </div>
            </div>
            <ul class="header__list">
                <li class="header__item">
                    <a href="index.html" class="header__link">
                        <span class="header__linktitle">Home</span>
                    </a>
                </li>

                <li class="link--service header__item header__child">
                    <span class="header__link">
                        <span class="header__linktitle">Nos services</span>
                    </span>

                    <div class="header__megamenu submenu">
                        <div class="header__megamenucontainer">
                            <div class="header__megamenucontent header__design">
                                <!-- <div class="header__currentmenu"></div> -->
                                <h2 class="header__megamenutitle">
                                    Design Graphique
                                </h2>
                                <ul class="header__megamenulist">
                                    <li>
                                        <a href="#" class="header__megamenulink"
                                            >UI et UX Design
                                        </a>
                                        <div class="bar"></div>
                                    </li>
                                    <li>
                                        <a href="#" class="header__megamenulink"
                                            >Graphic Design
                                        </a>
                                        <div class="bar"></div>
                                    </li>
                                    <li>
                                        <a href="#" class="header__megamenulink"
                                            >Video Production
                                        </a>
                                        <div class="bar"></div>
                                    </li>
                                    <li>
                                        <a href="#" class="header__megamenulink"
                                            >Web Design
                                        </a>
                                        <div class="bar"></div>
                                    </li>
                                </ul>
                            </div>

                            <div class="header__megamenucontent">
                                <div class="header__currentmenu"></div>
                                <h2 class="header__megamenutitle">
                                    Développement
                                </h2>
                                <ul class="header__megamenulist">
                                    <li>
                                        <a
                                            href="dev.html"
                                            class="header__megamenulink"
                                            >Développement web
                                        </a>
                                        <div class="bar"></div>
                                    </li>
                                    <li>
                                        <a
                                            href="dev.html"
                                            class="header__megamenulink"
                                            >Développement mobile
                                        </a>
                                        <div class="bar"></div>
                                    </li>
                                    <li>
                                        <a
                                            href="dev.html"
                                            class="header__megamenulink"
                                            >Ecommerce
                                        </a>
                                        <div class="bar"></div>
                                    </li>
                                </ul>
                            </div>

                            <div class="header__megamenucontent">
                                <h2 class="header__megamenutitle">Marketing</h2>
                                <ul class="header__megamenulist">
                                    <li>
                                        <a
                                            href="marketing.html#marketingcontenu"
                                            class="header__megamenulink"
                                            >Marketing de contenu
                                        </a>
                                        <div class="bar"></div>
                                    </li>
                                    <li>
                                        <a
                                            href="marketing.html#marketingreseau"
                                            class="header__megamenulink"
                                            >Marketing de réseaux sociaux
                                        </a>
                                        <div class="bar"></div>
                                    </li>
                                    <li>
                                        <a
                                            href="marketing.html#marketingemail"
                                            class="header__megamenulink"
                                            >Marketing d'email
                                        </a>
                                        <div class="bar"></div>
                                    </li>
                                    <li>
                                        <a
                                            href="marketing.html"
                                            class="header__megamenulink"
                                            >Marketing audiovisuel
                                        </a>
                                        <div class="bar"></div>
                                    </li>
                                    <li>
                                        <a
                                            href="marketing.html#marketinginfluence"
                                            class="header__megamenulink"
                                            >Marketing d'influence
                                        </a>
                                        <div class="bar"></div>
                                    </li>
                                    <li>
                                        <a
                                            href="marketing.html#marketingaffiliation"
                                            class="header__megamenulink"
                                            >Marketing d'affiliation
                                        </a>
                                        <div class="bar"></div>
                                    </li>
                                    <li>
                                        <a
                                            href="marketing.html#marketingsem"
                                            class="header__megamenulink"
                                            >Référencement
                                        </a>
                                        <div class="bar"></div>
                                    </li>
                                </ul>
                            </div>

                            <div
                                class="header__megamenucontent header__audiovisuel"
                            >
                                <h2 class="header__megamenutitle">
                                    Audiovisuel
                                </h2>
                                <ul class="header__megamenulist">
                                    <li>
                                        <a
                                            href="photographie.html"
                                            class="header__megamenulink"
                                            >Photographie
                                        </a>
                                        <div class="bar"></div>
                                    </li>
                                    <li>
                                        <a
                                            href="photographie.html"
                                            class="header__megamenulink"
                                            >Couverture médiatique
                                        </a>
                                        <div class="bar"></div>
                                    </li>
                                    <li>
                                        <a
                                            href="photographie.html"
                                            class="header__megamenulink"
                                            >Shooting
                                        </a>
                                        <div class="bar"></div>
                                    </li>
                                    <li>
                                        <a
                                            href="photographie.html"
                                            class="header__megamenulink"
                                            >Production audiovisuelle
                                        </a>
                                        <div class="bar"></div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="header__item ">
                    <a href="portfolio.html" class="header__link">
                        <span class="header__linktitle">Portfolio</span>
                    </a>
                </li>
                <li class="header__item header__carriere">
                    <a href="#" class="header__link">
                        <span class="header__linktitle">Carriere</span>
                    </a>
                </li>
                <li class="header__item">
                    <a href="contact.html" class="header__link">
                        <span class="header__linktitle">Contact</span>
                    </a>
                </li>
            </ul>

            <p class="header__contact">
                WhatsApp:
                <a
                    class="header__contact_whatsapp"
                    href="https://wa.me/237676930245"
                    >+237 676 93 02 45</a
                >
            </p>

            <div class="toggle">
                <img
                    src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/menu/burger.png"
                    alt="icône burger"
                    class="ouvrir"
                />
                <img
                    src="https://res.cloudinary.com/digital-x-sarl/image/upload/v1662892055/dx/images/menu/time.png"
                    alt="icône croix"
                    class="fermer"
                />
            </div>
        </nav>
    </div>
</header>
